  <!-- ======= Top Bar ======= -->
  <div id="topbar" class="d-flex align-items-center fixed-top">
    <div class="container d-flex align-items-center justify-content-center justify-content-md-between">
      <div class="align-items-center d-none d-md-flex">
        <a href="index.html" class="logo me-auto"><img src="assets/images/image22/logoheader.jfif" alt=""></a>
      <a class="logoo me-auto"><img src="https://www.odishafdc.com/images/ofdc-logo.png" alt=""style="cursor:pointer;"></a>
     
      </div>
      <div class="d-flex align-items-center">
        <button type="button" class="btn btn-outline-secondary btn-rounded">
          <a class="font-button plus" style="color: white;" id="plusBtn" onclick="plus()">A+</a>
        </button>&nbsp;
        <button type="button" class="btn btn-outline-secondary btn-rounded">
          <a class="font-button plus" style="color: white;" id="defaultBtn" onclick="normal()">A</a>
        </button>&nbsp;
        <button type="button" class="btn btn-outline-secondary btn-rounded">
          <a class="font-button plus" style="color: white;" id="minusBtn" onclick="minus()">A-</a>
        </button>&nbsp;&nbsp;
       
        <!-- <div class="dropdown">
          <button class="btn btn-outline-secondary btn-rounded dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select Language
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" routerLink="/career">English</a>
            <a class="dropdown-item" routerLink="/career">Hindi</a>
          </div>
        </div> -->
        <button style="padding: 2px; height:30px">
          <div id="google_translate_element"></div>
        </button>
       
      </div>
      
    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <h1 class="logo me-auto"><a href="index.html">Medicio</a></h1> -->

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto " routerLink="/">HOME</a></li>
          <li class="dropdown"><a routerLink="/career"><span>ABOUT US</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a routerLink="/aboutus">ABOUT</a></li>
              <li><a routerLink="/plan">FUTURE PLAN</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="#services"><span>ACTIVITIES</span><i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a routerLink="/timberfirewood">TIMBER & FIREWOOD</a></li>
              <li><a routerLink="/kenduleaf">KENDULEAF</a></li>
              <li><a routerLink="/bamboo">BAMBOO</a></li>
              <li><a routerLink="/plantation">PLANTATION & LANDSCAPING</a></li>
              <li><a routerLink="/siteclearance">SITE CLEARANCE PROJECT</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" href="#departments"><span>E-TENDER</span><i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a routerLink="/tender">UPLOAD TENDER</a></li>
              <li><a routerLink="/tenderfiles">TENDER FILES</a></li>
            </ul>
          </li>
          <li class="dropdown"><a class="nav-link scrollto" routerLink="/stockavailability"><span>STOCK AVAILBILITY</span><i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a routerLink="/career">ROUND TIMBER</a></li>
              <li><a routerLink="/sawntimber">SAWN TIMBER</a></li>
              <li><a routerLink="/roundtimber">ROUND FIREWOOD</a></li>
              <li><a routerLink="/career">SAWN FIREWOOD</a></li>
              <li><a routerLink="/career">POLES & BALLIES</a></li>
            </ul></li>
          <li class="dropdown"><a class="nav-link scrollto" routerLink="/bookings"><span>BOOKING & CALENDAR</span><i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a routerLink="/eventdetails">EVENT DETAILS</a></li>
              <li><a routerLink="/bookings">BOOKING</a></li>
            </ul></li>
          <li><a class="nav-link scrollto" routerLink="/career">CARRIER</a></li>
          <li><a class="nav-link scrollto" routerLink="/research">RESEARCH</a></li>
          <li><a class="nav-link scrollto" routerLink="/photos">GALLERY</a></li>
          <li><a class="nav-link scrollto" routerLink="/contact">CONTACT US</a></li>
          <!-- <li class="dropdown"><a routerLink="/career"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a routerLink="/career">Drop Down 1</a></li>
              <li class="dropdown"><a routerLink="/career"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a routerLink="/career">Deep Drop Down 1</a></li>
                  <li><a routerLink="/career">Deep Drop Down 2</a></li>
                  <li><a routerLink="/career">Deep Drop Down 3</a></li>
                  <li><a routerLink="/career">Deep Drop Down 4</a></li>
                  <li><a routerLink="/career">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a routerLink="/career">Drop Down 2</a></li>
              <li><a routerLink="/career">Drop Down 3</a></li>
              <li><a routerLink="/career">Drop Down 4</a></li>
            </ul>
          </li> -->
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <a routerLink="greivanceregistration" class="appointment-btn scrollto">GRIEVANCE</a>

    </div>
  </header><!-- End Header -->