<!-- <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="footer-info">
              <h3>Forest</h3>
              <p>
                A108 Adam Street <br>
                NY 535022, USA<br><br>
                <strong>Phone:</strong> +1 5589 55488 55<br>
                <strong>Email:</strong> info@example.com<br>
              </p>
              <div class="social-links mt-3">
                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
              </div>
            </div>
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Services</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>Our Newsletter</h4>
            <p>Tamen quem nulla quae legam multos aute sint culpa legam noster magna</p>
            <form action="" method="post">
              <input type="email" name="email"><input type="submit" value="Subscribe">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>Odisha Forest Department</span></strong>. All Rights Reserved
      </div>
     
    </div>
  </footer>
   -->
 
 
   <div class="icon-bar" style="float:right ;">
    <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a> 
    <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a> 
    <a href="#" class="instagram" style="background-color:blue ;"><i class="bx bxl-instagram"></i></a> 
    <a href="#" class="youtube"><i class="bx bxl-youtube"></i></a> 
  </div>
  <footer id="footer">
      <div class="footer-top">
        <div class="container">
          <div class="row">
  
            <div class="col-lg-3 col-md-6">
              <div class="footer-info">
                <h3>OFFICE  DETAILS</h3>
                <p>
                  A-84, KHARAVELA NAGAR<br>
                  BHUBANESWAR - 751001, <br>
                  ODISHA,INDIA<br><br>
                  <strong>Phone:</strong> 0674 2534086, 2534269<br>
                  <strong>Email:</strong> general@odishafdc.com<br>
                </p>
                <div class="social-links mt-3">
                  <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                  <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                  <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                  <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                  <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                </div>
              </div>
            </div>
  
            <div class="col-lg-2 col-md-6 footer-links">
              <h4>USEFUL LINKS</h4>
              <ul>
                <li><i class="bx bx-chevron-right"></i> <a href="#">ABOUT US</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">CARRIER</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">PUBLICATION</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">RTI</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">CITIZEN CHARTER</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">CONTACT US</a></li>
  
              </ul>
            </div>
  
            <div class="col-lg-3 col-md-6 footer-links">
              <h4>OUR SERVICE</h4>
              <ul>
                <!-- <li><i class="bx bx-chevron-right"></i> <a href="#">KENDULEAF</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">WILDLIFE</a></li> -->
                <li><i class="bx bx-chevron-right"></i> <a href="#">ECOTOUR ODISHA</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">ODISHA STATE FOREST DEPARTMENT</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">FOREST AND ENVIRONMENT DEPARTMENT</a></li>
                <li><i class="bx bx-chevron-right"></i> <a href="#">ODISHA FORESTRY SECTOR DEVELOPMENT SOCIETY</a></li>
              </ul>
            </div>
  
            <div class="col-lg-4 col-md-6 footer-newsletter">
              <h4>OUR NEWSLETTER</h4>
              <form action="" method="post">
                <input type="email" name="email"><input type="submit" value="SUBMIT">
              </form>
  
            </div>
  
          </div>
        </div>
         <!-- <div class="container footer-menu">
          <div class="f-menu">
              <a href="">Terms of use</a>
              <a href="">Privacy policy</a>
              <a href="">Cookies</a>
              <a href="">Help</a>
              <a href="">FQAs</a>
          </div> 
      </div>  -->
      </div>
  
    <div class="container copyright">
        <div class="row">
            <div class="col-md-6">
                <p>&copy; <a href="#" style="color: goldenrod;">Odisha Silviculture Department</a>, All Right Reserved.</p>
            </div>
            <div class="col-md-6">
                <p>Powered By <a href="#" style="color: goldenrod;">Nucigent Team</a></p>
            </div>
        </div>
    </div>
    </footer>
    
    
    
    <!-- End Footer -->
   <!-- End Footer -->