<div class="row" style="margin-top:150px ;">
    <div class="col-sm-7 h-100 bg-body">
        <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 text-success ">Event Booking Form</h3>
            <div class="col-sm-12">
                <div class="card text-center shadow-lg p-3 mb-5 bg-body rounded border border-dark">
                    <div class="card-body text-center shadow-lg p-3 mb-2 bg-light rounded">
                        <div class="row">
                            <div class="col-md-4 mb-4">
                                <div class="form-outline">
                                    <label class="form-label" for="firstName">Event Start Date</label>
                                    <input type="date" id="" class="form-control form-control-lg" placeholder="" />
                                </div>
                            </div>
                            <div class="col-md-4 mb-4">
                                <div class="form-outline">
                                    <label class="form-label" for="firstName">Event End Date</label>
                                    <input type="date" id="" class="form-control form-control-lg" placeholder="" />
                                </div>
                            </div>

                            <div class="col-md-4 mb-4">
                                <div class="form-outline">
                                    <label>Select Venue</label>
                                    <select class="form-control">
                                        <option value="">--Select--</option>
                                        <option value=""></option>
                                        <option value=""></option>
                                        <option value=""></option>
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                            </div>
                            <div class="row">
                            <div class="col-md-4 mb-4">
                                <div class="form-outline">
                                    <label>Purpose of Booking</label>
                                    <select class="form-control">
                                        <option value="">--Select--</option>
                                        <option value=""></option>
                                        <option value=""></option>
                                        <option value=""></option>
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                                <div class="col-md-4 mb-4">
                                    <div class="form-outline">
                                        <label class="form-label" for="lastName">Event Type</label>
                                        <select class="form-control">
                                            <option value="">--Select--</option>
                                            <option value="">Indivisual</option>
                                            <option value="">organization</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <div class="form-outline">
                                        <label class="form-label" for="lastName">Organization Name</label>
                                        <input type="text" id="" class="form-control form-control-lg"
                                            placeholder="" />
                                    </div>
                                </div>
                                </div>
                                <div class="row">
                                <div class="col-md-4 mb-4">
                                    <div class="form-outline">
                                        <label class="form-label" for="lastName">Applicant Name</label>
                                        <input type="text" id="" class="form-control form-control-lg"
                                            placeholder="" />
                                    </div>
                                </div>
                            
                                <div class="col-md-4 mb-4">
                                    <div class="form-outline">
                                        <label class="form-label" for="lastName">Address</label>
                                        <input type="text" id="Phone No" class="form-control form-control-lg"
                                            placeholder="" />
                                    </div>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <div class="form-outline">
                                        <label class="form-label" for="lastName">City</label>
                                        <input type="text" id="" class="form-control form-control-lg"
                                            placeholder="" />
                                    </div>
                                    </div>
                                </div>
                                <div class="row">
                                <div class="col-md-4 mb-4">
                                    <div class="form-outline">
                                        <label class="form-label" for="lastName">Pin</label>
                                        <input type="text" id="" class="form-control form-control-lg"
                                            placeholder="" />
                                    </div>
                                </div>

                            
                                <div class="col-md-4 mb-4">
                                    <div class="form-outline">
                                        <label class="form-label" for="lastName">Applicant Email Id</label>
                                        <input type="text" id="" class="form-control form-control-lg"
                                            placeholder="" />
                                    </div>
                                </div>
                                <div class="col-md-4 mb-4">
                                    <div class="form-outline">
                                        <label class="form-label" for="lastName">Mobile No</label>
                                        <input type="text" id="" class="form-control form-control-lg"
                                            placeholder="" />
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button type="button" class="btn btn-primary btn-circle">Submit</button>
                                <button type="cancel" class="btn btn-danger btn-circle">Cancel</button>
    
                            </div>
                        </div>

                    
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="col-sm-5 h-100 bg-body">
        <div class="card-body p-5 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 text-success ">Calendar</h3>
            <div class="col-sm-13">
                <div class="card text-center shadow-lg p-1 mb-5 bg-body rounded border border-dark">
                    <div class="card-body text-center shadow-lg p-3 mb-2 bg-light rounded">
                       
                        <div class="wrapper">
                            <header>
                                <p class="current-date"></p>
                                <div class="icons">
                                    <span id="prev" class="material-symbols-rounded">chevron_left</span>
                                    <span id="next" class="material-symbols-rounded">chevron_right</span>
                                </div>
                            </header>
                            <div class="calendar">
                                <ul class="weeks">
                                    <li>Sun</li>
                                    <li>Mon</li>
                                    <li>Tue</li>
                                    <li>Wed</li>
                                    <li>Thu</li>
                                    <li>Fri</li>
                                    <li>Sat</li>
                                </ul>
                                <ul class="days"></ul>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div> -->

    
</div>

<script>
    const daysTag = document.querySelector(".days"),
    currentDate = document.querySelector(".current-date"),
    prevNextIcon = document.querySelectorAll(".icons span");
// getting new date, current year and month
let date = new Date(),
    currYear = date.getFullYear(),
    currMonth = date.getMonth();
// storing full name of all months in array
const months = ["January", "February", "March", "April", "May", "June", "July",
    "August", "September", "October", "November", "December"];
const renderCalendar = () => {
    let firstDayofMonth = new Date(currYear, currMonth, 1).getDay(), // getting first day of month
        lastDateofMonth = new Date(currYear, currMonth + 1, 0).getDate(), // getting last date of month
        lastDayofMonth = new Date(currYear, currMonth, lastDateofMonth).getDay(), // getting last day of month
        lastDateofLastMonth = new Date(currYear, currMonth, 0).getDate(); // getting last date of previous month
    let liTag = "";
    for (let i = firstDayofMonth; i > 0; i--) { // creating li of previous month last days
        liTag += `<li class="inactive">${lastDateofLastMonth - i + 1}</li>`;
    }
    for (let i = 1; i <= lastDateofMonth; i++) { // creating li of all days of current month
        // adding active class to li if the current day, month, and year matched
        let isToday = i === date.getDate() && currMonth === new Date().getMonth()
            && currYear === new Date().getFullYear() ? "active" : "";
        liTag += `<li class="${isToday}">${i}</li>`;
    }
    for (let i = lastDayofMonth; i < 6; i++) { // creating li of next month first days
        liTag += `<li class="inactive">${i - lastDayofMonth + 1}</li>`
    }
    currentDate.innerText = `${months[currMonth]} ${currYear}`; // passing current mon and yr as currentDate text
    daysTag.innerHTML = liTag;
}
renderCalendar();
prevNextIcon.forEach(icon => { // getting prev and next icons
    icon.addEventListener("click", () => { // adding click event on both icons
        // if clicked icon is previous icon then decrement current month by 1 else increment it by 1
        currMonth = icon.id === "prev" ? currMonth - 1 : currMonth + 1;
        if (currMonth < 0 || currMonth > 11) { // if current month is less than 0 or greater than 11
            // creating a new date of current year & month and pass it as date value
            date = new Date(currYear, currMonth);
            currYear = date.getFullYear(); // updating current year with new date year
            currMonth = date.getMonth(); // updating current month with new date month
        } else {
            date = new Date(); // pass the current date as date value
        }
        renderCalendar(); // calling renderCalendar function
    });
});
</script>
