<section class="innbanner" style="margin-top:-70px ;">
     <img src=" /assets/images/team/banner.gif
        ">
    <h2 id="backdrop">About us</h2>
</section>
<section class="uk-section-small" style="margin-top:-70px ;">
    <div class="container">
        <div class="container" >
            <div class="uk-width-1-3@m uk-width-1-1 grow">
                <img src="/assets/images/mpa2.jpg" class="uk-margin-top" alt="">
            </div>
            <div class="uk-width-expand@m uk-width-1-1">
                <div class="card">
                    <div class="card-body py-5">
                <h2 class="innhead text-center" >About OSDC Odisha</h2>
                <p style="margin-top:20px ;">

                    The operational area of the OSDC spread over 30 Revenue Districts in the state of Odisha, is divided into 4 Zones, viz. Bhubaneswar, Berhampur, Sambalpur and Bolangir headed by General Managers which are further sub divided into Working Divisions and Sub-divisions depending upon the current and future work load.
                    
                    Divisions are categorized into Commercial and Commercial-Kenduleaf as per the product line each deal with. Restructuring of Divisions and Sub-divisions is a continuous process depending upon the current and future work load of the divisions.
                    
                    With the Head Office at Bhubaneswar and 4 Zone Offices, there are 20 Divisions including one specialised Plantation Division at Bhubaneswar and 61 nos of Sub-Divisions. OSDC has set up 130 Nos. of Central Timber/Retail Firewood Depots and 9 Nos of Saw Mills at different places in the State of Odisha.
                     </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="card">
    <div class="card-body py-5">
<div class="row text-center">
    <img src="https://www.odishafdc.com/images/corporate-big.jpg" alt="" style="height:700px ; " width="100%">
</div>
    </div>
</div>
<!-- <div class="row">
    <div class="col-md-8 col-lg-4 col-sm-6">
      <img src="/assets/images/team/record2.PNG" alt="">

    </div>
    <div class="col-md-4 col-lg-8 col-sm-6">
      <h4>Manpower Strength Under Regular Employment</h4>
      <p>The total manpower strength under regular employment in the Corporation is around 1000 at present. The Corporation maintains its own cadre of technical and non-technical officers and staffs at all levels except higher management cadres. Besides these, the Corporation engage large number of casual workers for its various activities regularly. </p>
    </div>
  
  </div> -->
  <div class="card">
    <div class="card-body py-5">
<section>
    <div class="container py-5">
        <div class="card">
            <div class="row ">
                <div class="col-md-4 grow">
                    <img src="/assets/images/team/record2.PNG"
                         class="w-100"> 
                </div>
                <div class="col-md-8 px-3">
                    <div class="card-block px-3">
                        <!-- <h4 class="card-title">Software Development</h4> -->
                        <h4>Manpower Strength Under Regular Employment</h4>
      <p class="card-text">The total manpower strength under regular employment in the Corporation is around 1000 at present. The Corporation maintains its own cadre of technical and non-technical officers and staffs at all levels except higher management cadres. Besides these, the Corporation engage large number of casual workers for its various activities regularly. </p>
                        <!-- <p class="card-text">We provide software development services to every type of businesses with our industry experienced developers with ample expertise in software development those are our valuable assets for delivering the projects as per clients' expectations and maintaining support service with excellent customer feedbacks. </p>
                        <p class="card-text moretext">We always care about the economic value for any business apart from the software needs of the businesses. We are committed with the most recent trends and technologies available for Custom Website Development on Java Technologies, ASP, PHP, Angular, ReactJS , HTML5, JavaScript, CSS3, Bootstrap etc.</p> -->
                        <!-- <a routerLink="readmore" class="btn btn-primary">Read More</a> -->
                        <!-- <a class="moreless-button" href="#">Read more</a> -->

                        <!-- <button class="moreless-button glow-on-hover" type="button">Read More</button> -->
                    </div>
                </div>

            </div>
        </div>
    </div>
    
</section>
</div>
</div>