<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">

      <div class="d-flex justify-content-between align-items-center">
        <h2>About</h2>
        <ol>
          <li><a href="index.html">Home</a></li>
          <li>About us</li>
        </ol>
      </div>

    </div>
  </section>

<section id="about-us" class="about-us">
    <div class="container" data-aos="fade-up">
    
      <div class="row content">
        <div class="col-lg-6" data-aos="fade-right">
          <!-- <h2>Eum ipsam laborum deleniti velitena</h2>
          <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assum perenda sruen jonee trave</h3> -->
          <img src="/assets/images/plantation/map.jpg" alt="" style="width: 100%; height: 100%;">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 mt-5" data-aos="fade-left">
          <p>
            The operational area of the OFDC spread over 30 Revenue Districts in the state of Odisha, is divided into 4 Zones, viz. Bhubaneswar, Berhampur, Sambalpur and Bolangir headed by General Managers which are further sub divided into Working Divisions and Sub-divisions depending upon the current and future work load.


<p>Divisions are categorized into Commercial and Commercial-Kenduleaf as per the product line each deal with. Restructuring of Divisions and Sub-divisions is a continuous process depending upon the current and future work load of the divisions. </p>


<p> With the Head Office at Bhubaneswar and 4 Zone Offices, there are 20 Divisions including one specialised Plantation Division at Bhubaneswar and 61 nos of Sub-Divisions. OFDC has set up 130 Nos. of Central Timber/Retail Firewood Depots and 9 Nos of Saw Mills at different places in the State of Odisha
          </p>
          <!-- <ul>
            <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequa</li>
            <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
            <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in</li>
          </ul> -->
          <!-- <p class="fst-italic">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.
          </p> -->
        </div>
      </div>
    
    </div>
    </section>
    

    <section class="team" class="team section-bg">
        <div class="container">
  
          <div class="section-title" data-aos="fade-up">
            <h2 class="text-center"style="font: 3rem sans-serif;" >Our <strong>Members</strong></h2>
            <p style="color:black ; font: 14px sans-serif;">The Forest Department in Odisha came into existence during pre-independence period since 1883-84, when Odisha was a part of Bengal. A solitary division was there namely, Odisha Division amongst 10 Divisions comprising the whole of Bengal, Bihar & Odisha under the charge of one Conservator of Forests with headquarters at Darjeeling. Sometime in past, certain forest blocks of Angul were declared as Reserved Forests under section 19 of Indian Forest Act, 1882. Odisha Forest Division was bifurcated into two divisions - Angul and Puri in the year 1912.</p>
          </div>
  
          <div class="row">
  
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up">
                <div class="member-img">
                  <img src="/assets/images/plantation/naveen.jpg" class="img-fluid" alt="">
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>Naveen Pattnaik</h4>
                  <span style="color:black ;">Chief minister</span>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="100">
                <div class="member-img">
                  <img src="/assets/images/plantation/amat.jpg" class="img-fluid" alt="" style="height:250px ;" >
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>Shri Pradip Kumar Amat</h4>
                  <span style="color:black ;">Minister of Forest, Environment and Climate Change Department 
                  
                    </span>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="200">
                <div class="member-img">
                  <img src="/assets/images/plantation/mona.jpg" class="img-fluid" alt="" style="height:250px ;" >
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>Dr Mona Sharma</h4>
                  <span style="color:black ;">Additional Chief Secretary to Govt. Forest, Environment & Climate Change Department, Govt. of Odisha</span>
                </div>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
              <div class="member" data-aos="fade-up" data-aos-delay="300">
                <div class="member-img">
                  <img src="/assets/images/plantation/suresh.jpg " class="img-fluid" alt="" style="height:250px ;" >
                  <div class="social">
                    <a href=""><i class="bi bi-twitter"></i></a>
                    <a href=""><i class="bi bi-facebook"></i></a>
                    <a href=""><i class="bi bi-instagram"></i></a>
                    <a href=""><i class="bi bi-linkedin"></i></a>
                  </div>
                </div>
                <div class="member-info">
                  <h4>Shri Suresh Pant</h4>
                  <span style="color:black ;"> IFS,Managing Director, OFDC Ltd.</span>
                </div>
              </div>
            </div>
  
          </div>
  
        </div>
      </section>

      
<section id="about-us" class="about-us">
    <div class="container" data-aos="fade-up">
    
      <div class="row content">
        <div class="col-lg-6" data-aos="fade-right">
          <!-- <h2>Eum ipsam laborum deleniti velitena</h2>
          <h3>Voluptatem dignissimos provident quasi corporis voluptates sit assum perenda sruen jonee trave</h3> -->
          <img src="/assets/images/team/record2.PNG" alt="" style="width: 100%; height: 100%;">
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-left">
            <h4>Manpower Strength Under Regular Employment</h4>
            <div class="card mt-5">
                <div class="card-body py-5">
          <p>
            The total manpower strength under regular employment in the Corporation is around 1000 at present. The Corporation maintains its own cadre of technical and non-technical officers and staffs at all levels except higher management cadres. Besides these, the Corporation engage large number of casual workers for its various activities regularly. </p>
                </div>
                </div>
          <!-- <ul>
            <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequa</li>
            <li><i class="ri-check-double-line"></i> Duis aute irure dolor in reprehenderit in voluptate velit</li>
            <li><i class="ri-check-double-line"></i> Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in</li>
          </ul> -->
          <!-- <p class="fst-italic">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua.
          </p> -->
        </div>
      </div>
    
    </div>
    </section>
    