

.whatNewArticleImg {
    min-width: 280px;
    height: auto;
}
.imgBord {
    border: 1px solid #ccc;
    padding: 5px;
}
.imgRight {
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
}
// .innbanner{
//     margin-top: 180px;
// }
.innbanner  img{
    height: 282px;
    position: relative;
    
    /* background-size: cover; */
    background-position: bottom center;
    /* background-attachment: fixed; */
    background-attachment: initial;
    background-size: 100% 100%;
    width: 100%;
    background: linear-gradient(to left, #76a2db, #f8e15b);
    transition: all .3s ease-in-out;
    transition-duration: 3s;

  }
//   .innbanner img{
//     transition: 1s ease;
//     -webkit-animation: animate 5s ease-in;  
//     animation: animate 5s ease-in;
//     animation-name: fadein;
//     }
    
//     @keyframes fadein {
//         from {width: 100%; height: 100%;}
//     to {width: 200px; height: 500px;} 
//     }
    
    
    
    .innbanner img:active{
    // -webkit-transform: scale(1.2);
    // -ms-transform: scale(1.2);
    // transform: scale(1.2);
    // transition: 1s ease;

    // transition: all .3s ease-in-out;
    // transition-duration: 3s;
    }
    // @keyframes img {
    //     0% {width: 160px; height: 400px;}
    //     50% {width: 200px; height: 500px;}
    //     100% {width: 160px; height: 400px;}
    //     }



  .innbanner h3 {
    color: #fff;
    position: absolute;
    left: 50%;
    top: 37%;
    transform: translate(-50%,-50%);
    background-color: #273a4a70;
      padding: 30px;
      border-radius: 20px;
  }
  .crumb-bg {
    font-size: 15px;
    text-transform: capitalize;
    border-radius: 4px;
    // border: 1px solid #eeebeb;
    float: left;
    width: 100%;
    padding: 8px 15px;
    margin-bottom: 10px;
    list-style: none;
    // background-color: #f5f5f5;
    position: relative;
    // z-index: 1;
}
.breadcrumb {
    background: none;
    text-align: left;
    clear: both;
    margin: 0;
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: olive;
    border-radius: 4px;
    color: #fff;
}
.kendu-txt {
    box-shadow: 0 4px 14px 0 rgb(50 50 50 / 30%);
    padding: 5px;
    text-align: center;
    margin: 0 auto;
    text-align: center;
    width: 530px;
    margin: 15px auto;
    font-weight: 600;
    font-size: 16px;
    color: #df6721;
    text-transform: uppercase;
}
.ct-sectionHeader-separator {
    margin-top: 0px;
    margin-bottom: 0px;
}
.ct-sectionHeader-separator .minus:first-child {
    margin-right: -1px;
}
.ct-sectionHeader-separator .minus {
    width: 151px;
    height: 2px;
    margin-bottom: 4px;
    background: #222;
    display: inline-block;
}
.ct-sectionHeader-separator .slash {
    font-weight: bold;
    font-size: 14px;
    letter-spacing: -3px;
    color: #222;
}