
<section class="innbanner" style="margin-top: -57px;">
    <div class="row">
        <div class="col-md-12">
            <img src="assets/images/bamboo/baboo8.jpg">
        </div>
    </div>
    <h3>Bamboo</h3>
</section>
<section style="margin-top: -120px;">
    <div class="crumb-bg">
        <div class="uk-container">
           <ol class="breadcrumb">
              <li onclick="window.location='./'">Home</li>/
              <li onclick="window.location='./'"> activities </li>/
              <li class="active"> Bambo </li>
           </ol>
        </div>
     </div>
</section>
<section class=""style="margin-top: -120px;" >
    <div class="uk-container">
       
        <div class="row">
          
            <div class="kendu-txt">   collection & marketing of bamboo</div>
            <p style="text-align:center;">Bamboo is also a nationalized product in Odisha since 1988. The collection and marketing of Bamboo from the natural forest is done by the OFDC Ltd either directly by itself or through the RMP (Raw Material Procurer) as per the decision of the Government. To regulate the collection and trade of Bamboo, Odisha Govt has formed a High-Powered Committee. Before start of a working season (October to June), the high power committee decides the various modalities for working of bamboo coupes in Forest, which include operational cost, royalty to be paid to the government, cost to be paid by purchaser for Silvicultural operation and commission to be paid to the OFDC Limited. </p>
            <div class="col-md-5" data-aos="fade-left">
                <img src="assets/images/bamboo/bamboo5.jpg" style="width: 100%;
                height: 320px;
                margin: 10px auto;
                border-radius: 20px;">
            </div>
            <div class="col-md-7" data-aos="fade-right">
                <div class="kendu-txt">Bamboo in Odisha </div>
                           <p style="text-align: justify;">
                            Bamboo in Odisha is mainly classified into two categories one as industrial bamboo, which is used for industrial purpose or by the paper mill, and the other is called as the commercial bamboo used mainly for household and other works as well as for rural artisans. The annual production potential of Bamboo in Odisha is estimated to be around 4,00,000 MT. 
                           </p>
            </div>
        </div>
    </div>
    <div class="uk-container">
        <div class="row">
            <div class="col-md-7" data-aos="fade-left">
             <div class="kendu-txt">UNIQUENESS OF ODISHA'S TENDU (KENDU) LEAF</div>
        
             <p style="text-align: justify;">The Uniqueness of Odisha's Tendu (kendu) leaf is in 
                processed form whereas the rest of the states in 
                India produces in Phal Form. In processed form 
                the Kendu leafs are graded into different qualities 
                that are Grade I to Grade IV as per the specification
                 of color, texture, size and body condition of the leaf
                  and packets will be done by taking Five Kilograms as a 
                  Bundle. Twelve Bundles of Five Kilogram of each are
                   packed in a gunny bag and 100 such bag equivalent to
                    sixty quintals make one truckload.
                     Where as no gradation is done in respect of PHAL
                      Leaf and only loose leafs are packed tightly
                       inside the gunny bag.</p>
            </div>
            <div class="col-md-5" data-aos="fade-right">
                <img src="assets/images/bamboo/bamboo4.jpg" style="width: 100%;
                height: 320px;
                margin: 10px auto;
                border-radius: 20px;">
            </div>
        </div>
    </div>
</section>
