<section id="hero" class="d-flex align-items-center">
  <div
    class="container position-relative text-center text-lg-start"
    data-aos="zoom-in"
    data-aos-delay="100"
  >
    <div class="row">
      <div class="col-lg-8"></div>
      <!-- <div class="col-lg-4 d-flex align-items-center justify-content-center position-relative" data-aos="zoom-in" data-aos-delay="200">
          <a  class="glightbox play-btn"></a>
        </div> -->
    </div>
  </div>
</section>
<main id="main">
  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">
      <div class="row">
        <div
          class="col-lg-6 order-1 order-lg-2"
          data-aos="zoom-in"
          data-aos-delay="100"
        >
          <div class="about-img">
            <img src="assets/img/hero-bg.jpg" alt="" />
          </div>
        </div>
        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <h2>Welcome To Forest Department</h2>
          <p class="fst-italic">
            The harvesting of the forest resources of the State as per
            provisions of the Working Plans was primarily being done through
            private contractors prior to 1962 resulted in unscientific
            exploitation of forests, illicit felling and removal of unrestricted
            Forest Produces from the Forest. Evasion and avoidance of payment of
            royalty and taxes also occurred in many cases. With the objective to
            replace the contractor system of forest working for Forest
            Management in Odisha and to use the forest resources for generating
            revenue to the State, the Government set up Odisha Forest
            Corporation Ltd, a Company under the Companies Act,1956, in the year
            1962.
          </p>
          
       
        </div>
        <div class="col-lg-6 order-3 order-lg-3 content" style="width: 100%;">
        <h2>Mandate</h2>
          <ul>
            <li>
              <i class="bi bi-check-circle"></i>To protect, develop and manage the forest.
            </li>
            <li>
             <i class="bi bi-check-circle"></i>To implement policies and programmes of the State Government with regard s to protection, development and management of forest and wildlife resources of the state.
            </li>
            <li>
              <i class="bi bi-check-circle"></i> To enforce acts, laws, rules and regulations pertaining to the protection and management of forests and wildlife.
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End About Section -->

  <!-- ======= Why Us Section ======= -->

  <!-- <section class="uk-section" style="margin-top: -75px;background-color: gainsboro;">
    <div class="uk-container">
        <div class="title text-center" style="padding-bottom: 30px;">
            <h2 translate style="font-size: large;">smartsolution.id</h2>
            <div class="border"></div>
        </div>
        <div class="uk-position-relative uk-visible-toggle  uk-padding-large uk-padding-remove-horizontal uk-padding-remove-top" tabindex="-1" uk-slider>
            <ul class="uk-slider-items uk-child-width-1-1 mico uk-child-width-1-4@m uk-grid">
              <li>
              <div class="flip-card">
                <div class="flip-card-inner">
                  <div class="flip-card-front">
                    <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">
                  </div>
                  <div class="flip-card-back">
                    <h1>John Doe</h1> 
                    <p>Architect & Engineer</p> 
                    <p>We love that guy</p>
                  </div>
                </div>
              </div>
               </li>
               <li>
                <div class="flip-card">
                  <div class="flip-card-inner">
                    <div class="flip-card-front">
                      <img src="img_avatar.png" alt="Avatar" style="width:300px;height:300px;">
                    </div>
                    <div class="flip-card-back">
                      <h1>John Doe</h1> 
                      <p>Architect & Engineer</p> 
                      <p>We love that guy</p>
                    </div>
                  </div>
                </div>
               </li>
              
                
               
                
              
               
            </ul><br>
            <a class="navs1" uk-slidenav-previous uk-slider-item="previous"></a>
            <a class="navs2" uk-slidenav-next uk-slider-item="next"></a>
        </div>
    </div>
</section> -->


  <!-- <section id="why-us" class="why-us">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Members</h2>
      </div>

      <div class="row">
        <div class="col-lg-4">
          <div class="box" data-aos="zoom-in" data-aos-delay="100">
            <span> <img alt="" src="assets\img\man.png" style="width: 51px;"/></span><br>
            <h5><strong>Shri Pradip Kumar Amat</strong></h5>
            <p>Hon'ble Minister For Forest</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box" data-aos="zoom-in" data-aos-delay="200">
            <span> <img alt="" src="assets\img\man.png" style="width: 51px;"/></span><br>
            <h5>Sri Pradipta Mohapatra,IAS</h5>
            <p>Principal Secretary</p>
          </div>
        </div>

        <div class="col-lg-4 mt-4 mt-lg-0">
          <div class="box" data-aos="zoom-in" data-aos-delay="300">
            <span> <img alt="" src="assets\img\man.png" style="width: 45px;"/></span><br>
            <h5>Sri. Vir Vikram Yadav,IFS</h5>
            <p>Principal Chief Conservator of Forest</p>
          </div>
        </div>
      </div>
    </div>
  </section> -->
  <section id="why-us" class="why-us">
    <div class="container" data-aos="fade-up">
  <div class="simple-effet-image clearfix">
    <div class="section-title">
      <h2>Members</h2>
    </div>
    <div class="row">
    <div class="col-sm-3">
      <div class="effect-image-1">
        <img  src="assets\img\man.png" alt="image-1">
        <div class="overlay-text-effect-3 overlay-text-1">
          <h5 class="text-center"><strong>Shri Pradip Kumar Amat</strong></h5>
            <p>Hon'ble Minister For Forest</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="effect-image-1">
        <img  src="assets\img\man.png" alt="image-1">
        <div class="overlay-text-effect-3 overlay-text-1">
          <h5 class="text-center">Sri Pradipta Mohapatra,IAS</h5>
          <p>Principal Secretary</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="effect-image-1">
        <img  src="assets\img\man.png" alt="image-1">
        <div class="overlay-text-effect-3 overlay-text-2">
          <h5 class="text-center">Sri. Vir Vikram Yadav,IFS</h5>
          <p>Principal Chief Conservator of Forest</p>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="effect-image-1">
        <img src="assets\img\man.png" alt="image-1">
        <div class="overlay-text-effect-3 overlay-text-2">
          <h5 class="text-center">SHRI SANTOSH KUMAR IFS</h5>
          <p>Additional Principal Chief Conservator of Forests &amp; Chief Wildlife Warden</p>
        </div>
      </div>
    </div>
  </div>
</div>

  </div>
  </section>
  <!-- End Why Us Section -->

  <!-- ======= Menu Section ======= -->
  <section id="menu" class="menu section-bg">
    <div class="container" data-aos="fade-up">
      <div class="row" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="menu-flters">
            <li data-filter="*">Video AND Gallery</li>
          </ul>
        </div>
      </div>

      <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">
        <div class="row">
        <div class="col-lg-6 menu-item ">
            <img src="assets/img/video/video.dummy.png" class="menu-img" alt="">
            <div class="menu-content">
              <a href="https://www.youtube.com/watch?v=Lj3k5c8Iz2M" target="_blank">SIMILIPAL </a><span>Odisha</span>

            </div>
            <div class="menu-ingredients">
              Similipal Bio-sphere covering a vast are of 2750 sq. km <strong><a>Know More....</a></strong>
          </div>
        </div>
          <div class="col-lg-6 menu-item ">
            <img src="assets/img/video/video.dummy.png" class="menu-img" alt="">
            <div class="menu-content">
              <a href="https://www.youtube.com/watch?v=b4YrZoeE5Ec" target="_blank">Chandaka </a><span>Odisha</span>
            </div>
            <div class="menu-ingredients">
              Map of Chandaka Sanctuary Nestled on Khurdha ' <strong><a>Know More....</a></strong>
            </div>
          </div>
       
          <div class="col-lg-6 menu-item ">
            <img src="assets/img/video/video.dummy.png" class="menu-img" alt="">
            <div class="menu-content">
              <a href="https://www.youtube.com/watch?v=K4SWB5k1lcY">Bhitarakanika</a><span>Odisha</span>
            </div>
            <div class="menu-ingredients">
              This sanctuary is located around 190 kms from the city of Bhubaneswar<strong><a>Know More....</a></strong>
            </div>
          </div>

          <div class="col-lg-6 menu-item  ">
            <img src="assets/img/video/video.dummy.png" class="menu-img" alt="">
            <div class="menu-content">
              <a href="https://www.youtube.com/watch?v=ASJouwFTwJw">Nature</a><span>Odisha</span>
            </div>
            <div class="menu-ingredients">
              Lorem, deren, trataro, filede, nerada
            </div>
          </div>

          <!-- <div class="col-lg-6 menu-item filter-starters">
            <div class="effect-image-1 radious-effect">
              <img src="assets/img/gllery/gallery-3.jpg" alt="image-1">
            </div>
            <img src="assets/img/gllery/gallery-3.jpg" class="menu-img" alt="" style="width: 50%; height:50%">
            <div class="menu-content">
              <a href="#">Mozzarella Stick</a><span>$4.95</span>
            </div> 
          </div> -->

  

          

         
      </div>

     
    </div>
   <br>
    <div class="simple-effet-image clearfix filter-starters">
      
<div class="row">
 
      <div class="col-sm-3">
        <div class="card" style="height:100%; width:100%">
        <div class="effect-image-1 grayscale-effect">
          <img src="https://www.montereyairport.com/sites/main/files/main-images/camera_lense_0.jpeg" alt="image-1">
        </div>
      </div>
    </div>
   
      <div class="col-sm-3">
        <div class="card">
        <div class="effect-image-1 grayscale-effect">
          <img src="https://www.montereyairport.com/sites/main/files/main-images/camera_lense_0.jpeg" alt="image-1">
        </div>
      </div>
    </div>
  
      <div class="col-sm-3">
        <div class="card">
        <div class="effect-image-1 grayscale-effect">
          <img src="https://www.montereyairport.com/sites/main/files/main-images/camera_lense_0.jpeg" alt="image-1">
        </div>
      </div>
    </div>
    
      <div class="col-sm-3">
        <div class="card">
        <div class="effect-image-1 grayscale-effect">
          <img src="https://www.montereyairport.com/sites/main/files/main-images/camera_lense_0.jpeg" alt="image-1">
        </div>
      </div>
    </div>
    </div>
  </div>
  </div>
 
  </section>
  <!-- End Menu Section -->

  <!-- ======= Specials Section ======= -->
  <!-- <section id="specials" class="specials">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Specials</h2>
          <p>Check Our Specials</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
          <div class="col-lg-3">
            <ul class="nav nav-tabs flex-column">
              <li class="nav-item">
                <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Modi sit est</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Unde praesentium sed</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Pariatur explicabo vel</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Nostrum qui quasi</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Iusto ut expedita aut</a>
              </li>
            </ul>
          </div>
          <div class="col-lg-9 mt-4 mt-lg-0">
            <div class="tab-content">
              <div class="tab-pane active show" id="tab-1">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Architecto ut aperiam autem id</h3>
                    <p class="fst-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde sonata raqer a videna mareta paulona marka</p>
                    <p>Et nobis maiores eius. Voluptatibus ut enim blanditiis atque harum sint. Laborum eos ipsum ipsa odit magni. Incidunt hic ut molestiae aut qui. Est repellat minima eveniet eius et quis magni nihil. Consequatur dolorem quaerat quos qui similique accusamus nostrum rem vero</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/specials-1.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-2">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Et blanditiis nemo veritatis excepturi</h3>
                    <p class="fst-italic">Qui laudantium consequatur laborum sit qui ad sapiente dila parde sonata raqer a videna mareta paulona marka</p>
                    <p>Ea ipsum voluptatem consequatur quis est. Illum error ullam omnis quia et reiciendis sunt sunt est. Non aliquid repellendus itaque accusamus eius et velit ipsa voluptates. Optio nesciunt eaque beatae accusamus lerode pakto madirna desera vafle de nideran pal</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/specials-2.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-3">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Impedit facilis occaecati odio neque aperiam sit</h3>
                    <p class="fst-italic">Eos voluptatibus quo. Odio similique illum id quidem non enim fuga. Qui natus non sunt dicta dolor et. In asperiores velit quaerat perferendis aut</p>
                    <p>Iure officiis odit rerum. Harum sequi eum illum corrupti culpa veritatis quisquam. Neque necessitatibus illo rerum eum ut. Commodi ipsam minima molestiae sed laboriosam a iste odio. Earum odit nesciunt fugiat sit ullam. Soluta et harum voluptatem optio quae</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/specials-3.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-4">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Fuga dolores inventore laboriosam ut est accusamus laboriosam dolore</h3>
                    <p class="fst-italic">Totam aperiam accusamus. Repellat consequuntur iure voluptas iure porro quis delectus</p>
                    <p>Eaque consequuntur consequuntur libero expedita in voluptas. Nostrum ipsam necessitatibus aliquam fugiat debitis quis velit. Eum ex maxime error in consequatur corporis atque. Eligendi asperiores sed qui veritatis aperiam quia a laborum inventore</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/specials-4.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
              <div class="tab-pane" id="tab-5">
                <div class="row">
                  <div class="col-lg-8 details order-2 order-lg-1">
                    <h3>Est eveniet ipsam sindera pad rone matrelat sando reda</h3>
                    <p class="fst-italic">Omnis blanditiis saepe eos autem qui sunt debitis porro quia.</p>
                    <p>Exercitationem nostrum omnis. Ut reiciendis repudiandae minus. Omnis recusandae ut non quam ut quod eius qui. Ipsum quia odit vero atque qui quibusdam amet. Occaecati sed est sint aut vitae molestiae voluptate vel</p>
                  </div>
                  <div class="col-lg-4 text-center order-1 order-lg-2">
                    <img src="assets/img/specials-5.png" alt="" class="img-fluid">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section> -->
  <!-- End Specials Section -->

  <!-- ======= Events Section ======= -->
  <section id="events" class="events">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Latest Events</h2>
      </div>

      <div class="events-slider swiper" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="row event-item">
              <div class="col-lg-6">
                <div class="effect-image-1 radious-effect">
                  <img src="assets/img/plantation.jpg" class="img-fluid" alt="image-1" style="width: 100%; height:100%">
                </div>
              </div>
              <div class="col-lg-6 pt-4 pt-lg-0 content">
                <h3>Latest Upload</h3>
                <div class="price">
                
                </div>
                <marquee width="100%" direction="up" height="300px">
                 
                <ul>
                  <li>
                    <i class="bi bi-check-circle"></i><a href="/sites/default/files/2022-09/Wildlife-week-celebration-2022.jpeg" target="_blank">Wildlife week Celebration 2022</a>
                  </li>
                  <li>
                   <i class="bi bi-check-circle"></i><a href="/sites/default/files/2022-09/Rules%20and%20regulations%20wildlife%20week%202022%20Final.pdf" target="_blank">Rules and regulations wildlife week 2022</a></li>
                   <li > <i class="bi bi-check-circle"></i>
                    <a href="/sites/default/files/2022-06/Research%20Proposal%20on%20Forestry%2C%20Wildlife%2C%20Ecology%20%26%20Environmental%20Condition%20of%20the%20State%20of%20Odisha%20.PDF" target="_blank">Research Proposal on Forestry, Wildlife, Ecology &amp; Environmental Condition of the State of Odisha</a>
                  </li>
                  <li>
                    <i class="bi bi-check-circle"></i> 
                    <a href="/sites/default/files/2022-06/Results-of%20-online-offline-competions-held-70th-wildlife-week-2021.jpeg" target="_blank">Results of Online and Offline Competitions Held on the Occasion of 70th Wildlife Week, 2021</a></li>
                  
                  <li>
                    <i class="bi bi-check-circle"></i> 
                    <a href="/sites/default/files/2022-06/Corrigendum-forest-1.pdf" target="_blank">Corrigendum: Notification For Filling Up Various Posts in Forest Department</a></li>
                  
                  <li>
                    <i class="bi bi-check-circle"></i> 
                    <a href="/sites/default/files/2022-06/Notification%20for%20filling%20up%20various%20posts%20in%20Forest%20Department.pdf" target="_blank">Notification For Filling Up Various Posts in Forest Department</a></li>
                  
                  <li>
                    <i class="bi bi-check-circle"></i> 
                    <a href="/sites/default/files/2022-06/Revised-instructions-to-candidates.pdf" target="_blank">Revised Instructions to Candidates Towards Filling Up Various Posts in Forest Department</a></li>
                  
                    <li>
                      <i class="bi bi-check-circle"></i> 
                      <a href="/sites/default/files/2022-06/Winners%20of%20Wildlife%20Week%202021.pdf" target="_blank">Winners of Wildlife Week 2021</a></li>
                      <li>
                        <i class="bi bi-check-circle"></i> 
                        <a href="/sites/default/files/2022-06/wildlife-week-awareness-campaign-2021.pdf" target="_blank">Notice:- Wildlife Week Awareness Campaign 2021</a></li>
                        
                </ul>
              </marquee>
               
              </div>
            </div>
          </div>
          <!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="row event-item">
              <div class="col-lg-6">
                <img
                  src="assets/img/event-private.jpg"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="col-lg-6 pt-4 pt-lg-0 content">
                <h3>Private Parties</h3>
                <div class="price">
                  <p><span>$290</span></p>
                </div>
                <p class="fst-italic">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <ul>
                  <li>
                    <i class="bi bi-check-circled"></i> Ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                  </li>
                  <li>
                    <i class="bi bi-check-circled"></i> Duis aute irure dolor in
                    reprehenderit in voluptate velit.
                  </li>
                  <li>
                    <i class="bi bi-check-circled"></i> Ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                  </li>
                </ul>
                <p>
                  Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                  aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur
                </p>
              </div>
            </div>
          </div>
          <!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="row event-item">
              <div class="col-lg-6">
                <img
                  src="assets/img/event-custom.jpg"
                  class="img-fluid"
                  alt=""
                />
              </div>
              <div class="col-lg-6 pt-4 pt-lg-0 content">
                <h3>Custom Parties</h3>
                <div class="price">
                  <p><span>$99</span></p>
                </div>
                <p class="fst-italic">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
                <ul>
                  <li>
                    <i class="bi bi-check-circled"></i> Ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                  </li>
                  <li>
                    <i class="bi bi-check-circled"></i> Duis aute irure dolor in
                    reprehenderit in voluptate velit.
                  </li>
                  <li>
                    <i class="bi bi-check-circled"></i> Ullamco laboris nisi ut
                    aliquip ex ea commodo consequat.
                  </li>
                </ul>
                <p>
                  Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis
                  aute irure dolor in reprehenderit in voluptate velit esse
                  cillum dolore eu fugiat nulla pariatur
                </p>
              </div>
            </div>
          </div>
          <!-- End testimonial item -->
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>
  <!-- End Events Section -->

  <!-- ======= Book A Table Section ======= -->
  <section id="book-a-table" class="book-a-table">
    <div class="container" data-aos="fade-up">
      <div class="section-title"></div>

      <form
        action="forms/book-a-table.php"
        method="post"
        role="form"
        class="php-email-form"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div class="row">
          <div class="col-lg-4 col-md-6 form-group">
            <input
              type="text"
              name="name"
              class="form-control"
              id="name"
              placeholder="Your Name"
              data-rule="minlen:4"
              data-msg="Please enter at least 4 chars"
            />
            <div class="validate"></div>
          </div>
          <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
            <input
              type="email"
              class="form-control"
              name="email"
              id="email"
              placeholder="Your Email"
              data-rule="email"
              data-msg="Please enter a valid email"
            />
            <div class="validate"></div>
          </div>
          <div class="col-lg-4 col-md-6 form-group mt-3 mt-md-0">
            <input
              type="text"
              class="form-control"
              name="phone"
              id="phone"
              placeholder="Your Phone"
              data-rule="minlen:4"
              data-msg="Please enter at least 4 chars"
            />
            <div class="validate"></div>
          </div>
          <div class="col-lg-4 col-md-6 form-group mt-3">
            <input
              type="text"
              name="date"
              class="form-control"
              id="date"
              placeholder="Date"
              data-rule="minlen:4"
              data-msg="Please enter at least 4 chars"
            />
            <div class="validate"></div>
          </div>
          <div class="col-lg-4 col-md-6 form-group mt-3">
            <input
              type="text"
              class="form-control"
              name="time"
              id="time"
              placeholder="Time"
              data-rule="minlen:4"
              data-msg="Please enter at least 4 chars"
            />
            <div class="validate"></div>
          </div>
          <div class="col-lg-4 col-md-6 form-group mt-3">
            <input
              type="number"
              class="form-control"
              name="people"
              id="people"
              placeholder="# of people"
              data-rule="minlen:1"
              data-msg="Please enter at least 1 chars"
            />
            <div class="validate"></div>
          </div>
        </div>
        <div class="form-group mt-3">
          <textarea
            class="form-control"
            name="message"
            rows="5"
            placeholder="Message"
          ></textarea>
          <div class="validate"></div>
        </div>
        <div class="mb-3">
          <div class="loading">Loading</div>
          <div class="error-message"></div>
          <div class="sent-message">
            Your booking request was sent. We will call back or send an Email to
            confirm your reservation. Thank you!
          </div>
        </div>
        <div class="text-center">
          <button type="submit">Book a Event</button>
        </div>
      </form>
    </div>
  </section>
  <!-- End Book A Table Section -->

  <!-- ======= Testimonials Section ======= -->
  <section id="testimonials" class="testimonials section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Governer of Odisha</h2>
      </div>

      <div
        class="testimonials-slider swiper"
        data-aos="fade-up"
        data-aos-delay="100"
      >
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Proin iaculis purus consequat sem cure digni ssim donec
                porttitora entum suscipit rhoncus. Accusantium quam, ultricies
                eget id, aliquam eget nibh et. Maecen aliquam, risus at semper.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img
                src="assets/img/testimonials/cm.png"
                class="testimonial-img"
                alt=""
              />
              <h3>Mr. Naveen Pattanaik</h3>
              <h4>CM, Odisha</h4>
            </div>
          </div>
          <!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Export tempor illum tamen malis malis eram quae irure esse
                labore quem cillum quid cillum eram malis quorum velit fore eram
                velit sunt aliqua noster fugiat irure amet legam anim culpa.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img
                src="assets/img/testimonials/testimonials-2.jpg"
                class="testimonial-img"
                alt=""
              />
              <h3>Sara Wilsson</h3>
              <h4>Designer</h4>
            </div>
          </div>
          <!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Enim nisi quem export duis labore cillum quae magna enim sint
                quorum nulla quem veniam duis minim tempor labore quem eram duis
                noster aute amet eram fore quis sint minim.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img
                src="assets/img/testimonials/testimonials-3.jpg"
                class="testimonial-img"
                alt=""
              />
              <h3>Jena Karlis</h3>
              <h4>Store Owner</h4>
            </div>
          </div>
          <!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Fugiat enim eram quae cillum dolore dolor amet nulla culpa
                multos export minim fugiat minim velit minim dolor enim duis
                veniam ipsum anim magna sunt elit fore quem dolore labore illum
                veniam.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img
                src="assets/img/testimonials/testimonials-4.jpg"
                class="testimonial-img"
                alt=""
              />
              <h3>Matt Brandon</h3>
              <h4>Freelancer</h4>
            </div>
          </div>
          <!-- End testimonial item -->

          <div class="swiper-slide">
            <div class="testimonial-item">
              <p>
                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                Quis quorum aliqua sint quem legam fore sunt eram irure aliqua
                veniam tempor noster veniam enim culpa labore duis sunt culpa
                nulla illum cillum fugiat legam esse veniam culpa fore nisi
                cillum quid.
                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
              </p>
              <img
                src="assets/img/testimonials/testimonials-5.jpg"
                class="testimonial-img"
                alt=""
              />
              <h3>John Larson</h3>
              <h4>Entrepreneur</h4>
            </div>
          </div>
          <!-- End testimonial item -->
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </section>
  <!-- End Testimonials Section -->

  <!-- ======= Gallery Section ======= -->
  <section id="gallery" class="gallery">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Gallery</h2>
        <p>Some photos from Our Forest Department</p>
      </div>
    </div>

    <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">
      <div class="row g-0">
        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a
              href="assets/img/gallery/gallery-1.jpg"
              class="gallery-lightbox"
              data-gall="gallery-item"
            >
              <img
                src="assets/img/gallery/gallery-1.jpg"
                alt=""
                class="img-fluid"
              />
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a
              href="assets/img/gallery/gallery-2.jpg"
              class="gallery-lightbox"
              data-gall="gallery-item"
            >
              <img
                src="assets/img/gallery/gallery-2.jpg"
                alt=""
                class="img-fluid"
              />
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a
              href="assets/img/gallery/gallery-3.jpg"
              class="gallery-lightbox"
              data-gall="gallery-item"
            >
              <img
                src="assets/img/gallery/gallery-3.jpg"
                alt=""
                class="img-fluid"
              />
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a
              href="assets/img/gallery/gallery-4.jpg"
              class="gallery-lightbox"
              data-gall="gallery-item"
            >
              <img
                src="assets/img/gallery/gallery-4.jpg"
                alt=""
                class="img-fluid"
              />
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a
              href="assets/img/gallery/gallery-5.jpg"
              class="gallery-lightbox"
              data-gall="gallery-item"
            >
              <img
                src="assets/img/gallery/gallery-5.jpg"
                alt=""
                class="img-fluid"
              />
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a
              href="assets/img/gallery/gallery-6.jpg"
              class="gallery-lightbox"
              data-gall="gallery-item"
            >
              <img
                src="assets/img/gallery/gallery-6.jpg"
                alt=""
                class="img-fluid"
              />
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a
              href="assets/img/gallery/gallery-5.jpg"
              class="gallery-lightbox"
              data-gall="gallery-item"
            >
              <img
                src="assets/img/gallery/gallery-5.jpg"
                alt=""
                class="img-fluid"
              />
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="gallery-item">
            <a
              href="assets/img/gallery/gallery-5.jpg"
              class="gallery-lightbox"
              data-gall="gallery-item"
            >
              <img
                src="assets/img/gallery/gallery-5.jpg"
                alt=""
                class="img-fluid"
              />
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Gallery Section -->

  <!-- ======= Chefs Section ======= -->
  <section id="chefs" class="chefs">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Forest</h2>
        <p>Our Forest Department</p>
      </div>

      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="member" data-aos="zoom-in" data-aos-delay="100">
            <img src="assets/img/deer.jpg" class="img-fluid" alt="" />
            <div class="member-info">
              <div class="member-info-content">
                <h4>Deer Forest</h4>
                <span>Odisha</span>
              </div>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="member" data-aos="zoom-in" data-aos-delay="200">
            <img src="assets/img/elephant.jpg" class="img-fluid" alt="" />
            <div class="member-info">
              <div class="member-info-content">
                <h4>Chandaka</h4>
                <span>odisha</span>
              </div>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <div class="member" data-aos="zoom-in" data-aos-delay="300">
            <img src="assets/img/tiger.jpeg" class="img-fluid" alt="" />
            <div class="member-info">
              <div class="member-info-content">
                <h4>Tiger</h4>
                <span>Odisha</span>
              </div>
              <div class="social">
                <a href=""><i class="bi bi-twitter"></i></a>
                <a href=""><i class="bi bi-facebook"></i></a>
                <a href=""><i class="bi bi-instagram"></i></a>
                <a href=""><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- End Chefs Section -->

  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2>Contact</h2>
        <p>Contact Us</p>
      </div>
    </div>

    <div data-aos="fade-up">
      <iframe
        style="border: 0; width: 100%; height: 350px"
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12097.433213460943!2d-74.0062269!3d40.7101282!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb89d1fe6bc499443!2sDowntown+Conference+Center!5e0!3m2!1smk!2sbg!4v1539943755621"
        frameborder="0"
        allowfullscreen
      ></iframe>
    </div>

    <div class="container" data-aos="fade-up">
      <div class="row mt-5">
        <div class="col-lg-4">
          <div class="info">
            <div class="address">
              <i class="bi bi-geo-alt"></i>
              <h4>Location:</h4>
              <p>A108 Adam Street, New York, NY 535022</p>
            </div>

            <div class="open-hours">
              <i class="bi bi-clock"></i>
              <h4>Open Hours:</h4>
              <p>
                Monday-Saturday:<br />
                11:00 AM - 2300 PM
              </p>
            </div>

            <div class="email">
              <i class="bi bi-envelope"></i>
              <h4>Email:</h4>
              <p>info@example.com</p>
            </div>

            <div class="phone">
              <i class="bi bi-phone"></i>
              <h4>Call:</h4>
              <p>+1 5589 55488 55s</p>
            </div>
          </div>
        </div>

        <div class="col-lg-8 mt-5 mt-lg-0">
          <form
            action="forms/contact.php"
            method="post"
            role="form"
            class="php-email-form"
          >
            <div class="row">
              <div class="col-md-6 form-group">
                <input
                  type="text"
                  name="name"
                  class="form-control"
                  id="name"
                  placeholder="Your Name"
                  required
                />
              </div>
              <div class="col-md-6 form-group mt-3 mt-md-0">
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  id="email"
                  placeholder="Your Email"
                  required
                />
              </div>
            </div>
            <div class="form-group mt-3">
              <input
                type="text"
                class="form-control"
                name="subject"
                id="subject"
                placeholder="Subject"
                required
              />
            </div>
            <div class="form-group mt-3">
              <textarea
                class="form-control"
                name="message"
                rows="8"
                placeholder="Message"
                required
              ></textarea>
            </div>
            <div class="my-3">
              <div class="loading">Loading</div>
              <div class="error-message"></div>
              <div class="sent-message">
                Your message has been sent. Thank you!
              </div>
            </div>
            <div class="text-center">
              <button type="submit">Send Message</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- End Contact Section -->
</main>
