
 <!-- Contact Start -->

 <div class="contact wow fadeInUp" >
    <div class="container">
        <div class="section-header text-center">
            <h3 style="color:#212908;">Get In Touch</h3>
            <h2 style="color:#212908;">For Any Query</h2>
        </div>
        <div class="row">
            <div class="col-md-6" >
                <div class="contact-info">
                    <div class="contact-item">
                        <i class="flaticon-address"></i>
                        <div class="contact-text">
                            <h2>Location</h2>
                            <p> A-84, Kharavela Nagar Bhubaneswar - 751001, Odisha, India
                                Phone: 0674 2534086, 2534269 </p>
                        </div>
                    </div>
                    <div class="contact-item">
                        <i class="flaticon-call"></i>
                        <div class="contact-text">
                            <h2>Phone</h2>
                            <p>0674 2534086</p>
                        </div>
                    </div>
                    <div class="contact-item">
                        <i class="flaticon-send-mail"></i>
                        <div class="contact-text">
                            <h2>Email</h2>
                            <p>info@ofdc.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="contact-form">
                    <div id="success"></div>
                    <form [formGroup]="contactForm"(ngSubmit)="save()" method="POST" name="sentMessage" id="contactForm" novalidate="novalidate">
                        <div class="control-group">
                            <input type="text" class="form-control" formControlName="name" id="name" placeholder="Your Name" required="required" data-validation-required-message="Please enter your name" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="email" class="form-control" formControlName="email"  id="email" placeholder="Your Email" required="required" data-validation-required-message="Please enter your email" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <input type="text" class="form-control" formControlName="mobile"  id="subject" placeholder="Mobile" required="required" data-validation-required-message="Please enter a subject" />
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="control-group">
                            <textarea class="form-control" id="message" formControlName="message"  placeholder="Message" required="required" data-validation-required-message="Please enter your message"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                        <div>
                            <button class="btn text-center" type="submit" id="sendMessageButton">Submit Form</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
  </div> 
  <!-- Contact End -->
  

