<table class="tg" style="margin-top:120px ; margin-left: 100px;">
    <thead>
      <tr>
        <th class="tg-0lax" colspan="5">SPECIES WISE AVAILABILITY OF ROUND TIMBER</th>
        <th class="tg-nrix" colspan="2"><button>VIEW RATE DETAILS</button></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="tg-nrix" rowspan="2">Sl. No.</td>
        <td class="tg-nrix" rowspan="2">SPECIES</td>
        <td class="tg-nrix" colspan="2">AVAILABLE IN LOT</td>
        <td class="tg-nrix" colspan="2">AVAILABLE IN LOG</td>
        <td class="tg-nrix" rowspan="2">OPTION</td>
      </tr>
      <tr>
        <td class="tg-nrix">VOLUME IN CUM</td>
        <td class="tg-nrix">VOLUME IN CFT</td>
        <td class="tg-nrix">VOLUME IN CUM</td>
        <td class="tg-nrix">VOLUME IN CFT</td>
      </tr>
      
      <tr>
        <td class="tg-0lax">01</td>
        <td class="tg-0lax">ACACIA</td>
        <td class="tg-0lax">3.6995</td>
        <td class="tg-0lax">130.64</td>
        <td class="tg-0lax">7.8077</td>
        <td class="tg-0lax">275.72</td>
        <td class="tg-0lax"><button>VIEW DETAILS</button></td>
      </tr>
      <tr>
        <td class="tg-0lax">02</td>
        <td class="tg-0lax">ARJUN</td>
        <td class="tg-0lax">0.4462</td>
        <td class="tg-0lax">15.75</td>
        <td class="tg-0lax">1.2778</td>
        <td class="tg-0lax">45.12</td>
        <td class="tg-0lax"><button>VIEW DETAILS</button></td>
      </tr>
      <tr>
        <td class="tg-0lax">03</td>
        <td class="tg-0lax">ASAN</td>
        <td class="tg-0lax">1003.5006</td>
        <td class="tg-0lax">35438.28</td>
        <td class="tg-0lax">1283.3643</td>
        <td class="tg-0lax">45,321.58</td>
        <td class="tg-0lax"><button>VIEW DETAILS</button></td>
      </tr>
      <tr>
        <td class="tg-0lax">04</td>
        <td class="tg-0lax">BADA CHAKUNDA</td>
        <td class="tg-0lax">0.8805</td>
        <td class="tg-0lax">31.09</td>
        <td class="tg-0lax">169.4585</td>
        <td class="tg-0lax">5,984.37</td>
        <td class="tg-0lax"><button>VIEW DETAILS</button></td>
      </tr>
      <tr>
        <td class="tg-0lax">05</td>
        <td class="tg-0lax">BAHADA</td>
        <td class="tg-0lax">20.8354</td>
        <td class="tg-0lax">735.79</td>
        <td class="tg-0lax">87.5502</td>
        <td class="tg-0lax">3,091.80</td>
        <td class="tg-0lax"><button>VIEW DETAILS</button></td>
      </tr>
      <tr>
        <td class="tg-0lax">06</td>
        <td class="tg-0lax">BALI SISOO	</td>
        <td class="tg-0lax">11.3165</td>
        <td class="tg-0lax">399.63</td>
        <td class="tg-0lax">93.9743</td>
        <td class="tg-0lax">3,318.67</td>
        <td class="tg-0lax"><button>VIEW DETAILS</button></td>
      </tr>
      <tr>
        <td class="tg-0lax">07</td>
        <td class="tg-0lax">BAMUR</td>
        <td class="tg-0lax">0.1377</td>
        <td class="tg-0lax">4.86</td>
        <td class="tg-0lax">12.2043</td>
        <td class="tg-0lax">430.99</td>
        <td class="tg-0lax"><button>VIEW DETAILS</button></td>
      </tr>
      <tr>
        <td class="tg-0lax">08</td>
        <td class="tg-0lax">BANDHAN</td>
        <td class="tg-0lax">2.783</td>
        <td class="tg-0lax">98.28</td>
        <td class="tg-0lax">176.6019</td>
        <td class="tg-0lax">6,236.63</td>
        <td class="tg-0lax"><button>VIEW DETAILS</button></td>
      </tr>
      <tr>
        <td class="tg-0lax">09</td>
        <td class="tg-0lax">BIJA</td>
        <td class="tg-0lax">279.9661</td>
        <td class="tg-0lax">9886.9</td>
        <td class="tg-0lax">473.3042</td>
        <td class="tg-0lax">16,714.58</td>
        <td class="tg-0lax"><button>VIEW DETAILS</button></td>
      </tr>
      <tr>
        <td class="tg-0lax">10</td>
        <td class="tg-0lax">BLACK KENDU</td>
        <td class="tg-0lax">0</td>
        <td class="tg-0lax">0</td>
        <td class="tg-0lax">47.4652</td>
        <td class="tg-0lax">1,676.21</td>
        <td class="tg-0lax"><button>VIEW DETAILS</button></td>
      </tr>
      <tr>
        <td class="tg-0lax">11</td>
        <td class="tg-0lax">CHAKUNDA</td>
        <td class="tg-0lax">80.1261</td>
        <td class="tg-0lax">2829.62</td>
        <td class="tg-0lax">156.1346</td>
        <td class="tg-0lax">5,513.84</td>
        <td class="tg-0lax"><button>VIEW DETAILS</button></td>
      </tr>
      <tr>
        <td class="tg-0lax">12</td>
        <td class="tg-0lax">CHAMPA</td>
        <td class="tg-0lax">0.2489</td>
        <td class="tg-0lax">8.78</td>
        <td class="tg-0lax">0</td>
        <td class="tg-0lax">0.00</td>
        <td class="tg-0lax"><button>VIEW DETAILS</button></td>
      </tr>
      <tr>
        <td class="tg-0lax">13</td>
        <td class="tg-0lax">DHAMAN</td>
        <td class="tg-0lax">0.5805</td>
        <td class="tg-0lax">20.5</td>
        <td class="tg-0lax">3.9245</td>
        <td class="tg-0lax">138.59</td>
        <td class="tg-0lax"><button>VIEW DETAILS</button></td>
      </tr>
      <tr>
        <td class="tg-0lax">14</td>
        <td class="tg-0lax">DHAURA</td>
        <td class="tg-0lax">487.5793</td>
        <td class="tg-0lax">17218.7</td>
        <td class="tg-0lax">566.9082</td>
        <td class="tg-0lax">20,020.17</td>
        <td class="tg-0lax"><button>VIEW DETAILS</button></td>
      </tr>
      <tr>
        <td class="tg-0lax">15</td>
        <td class="tg-0lax">DHAURANGA</td>
        <td class="tg-0lax">0.5625</td>
        <td class="tg-0lax">19.86</td>
        <td class="tg-0lax">24.5449</td>
        <td class="tg-0lax">866.79</td>
        <td class="tg-0lax"><button>VIEW DETAILS</button></td>
      </tr>
      <tr>
        <td class="tg-0lax">16</td>
        <td class="tg-0lax">EUCALYPTUS</td>
        <td class="tg-0lax">54.0017</td>
        <td class="tg-0lax">1907.05</td>
        <td class="tg-0lax">479.5927</td>
        <td class="tg-0lax">16,936.65</td>
        <td class="tg-0lax"><button>VIEW DETAILS</button></td>
      </tr>
      <tr>
        <td class="tg-0lax">17</td>
        <td class="tg-0lax">GAMBHARI</td>
        <td class="tg-0lax">6.1998</td>
        <td class="tg-0lax">218.94</td>
        <td class="tg-0lax">39.4009</td>
        <td class="tg-0lax">1,391.42</td>
        <td class="tg-0lax"><button>VIEW DETAILS</button></td>
      </tr>
      <tr>
        <td class="tg-0lax">18</td>
        <td class="tg-0lax">GARD KHAIRA</td>
        <td class="tg-0lax">1.181</td>
        <td class="tg-0lax">41.7</td>
        <td class="tg-0lax">6.3435</td>
        <td class="tg-0lax">224.01</td>
        <td class="tg-0lax"><button>VIEW DETAILS</button></td>
      </tr>
      <tr>
        <td class="tg-0lax">19</td>
        <td class="tg-0lax">GENDULI</td>
        <td class="tg-0lax">0</td>
        <td class="tg-0lax">0</td>
        <td class="tg-0lax">8.9576</td>
        <td class="tg-0lax">316.33</td>
        <td class="tg-0lax"><button>VIEW DETAILS</button></td>
      </tr>
      <tr>
        <td class="tg-0lax">20</td>
        <td class="tg-0lax">GIRINGA</td>
        <td class="tg-0lax">0</td>
        <td class="tg-0lax">0</td>
        <td class="tg-0lax">5.0543</td>
        <td class="tg-0lax">178.49</td>
        <td class="tg-0lax"><button>VIEW DETAILS</button></td>
      </tr>
      <tr>
        <td class="tg-0lax">21</td>
        <td class="tg-0lax">HALDA</td>
        <td class="tg-0lax">0.958</td>
        <td class="tg-0lax">33.83</td>
        <td class="tg-0lax">63.9531</td>
        <td class="tg-0lax">2,258.48</td>
        <td class="tg-0lax"><button>VIEW DETAILS</button></td>
      </tr>
      <tr>
        <td class="tg-0lax">22</td>
        <td class="tg-0lax">HALDU</td>
        <td class="tg-0lax">80.4694</td>
        <td class="tg-0lax">2841.75</td>
        <td class="tg-0lax">80.9504</td>
        <td class="tg-0lax">2,858.73</td>
        <td class="tg-0lax"><button>VIEW DETAILS</button></td>
      </tr>
      <tr>
        <td class="tg-0lax">23</td>
        <td class="tg-0lax">HARIDA</td>
        <td class="tg-0lax">12.6463</td>
        <td class="tg-0lax">446.59</td>
        <td class="tg-0lax">26.3959</td>
        <td class="tg-0lax">932.16</td>
        <td class="tg-0lax"><button>VIEW DETAILS</button></td>
      </tr>
      <tr>
        <td class="tg-0lax">24</td>
        <td class="tg-0lax">JAMU</td>
        <td class="tg-0lax">280.0022</td>
        <td class="tg-0lax">9888.18</td>
        <td class="tg-0lax">326.9298</td>
        <td class="tg-0lax">11,545.41</td>
        <td class="tg-0lax"><button>VIEW DETAILS</button></td>
      </tr>
      <tr>
        <td class="tg-0lax">25</td>
        <td class="tg-0lax">KADAM</td>
        <td class="tg-0lax">3.893</td>
        <td class="tg-0lax">137.47</td>
        <td class="tg-0lax">67.6614</td>
        <td class="tg-0lax">2,389.43</td>
        <td class="tg-0lax"><button>VIEW DETAILS</button></td>
      </tr>
      <tr>
        <td class="tg-0lax">26</td>
        <td class="tg-0lax">KAKAPOI</td>
        <td class="tg-0lax">47.3381</td>
        <td class="tg-0lax">1671.72</td>
        <td class="tg-0lax">138.701</td>
        <td class="tg-0lax">16,714.58</td>
        <td class="tg-0lax"><button>VIEW DETAILS</button></td>
      </tr>
      <tr>
        <td class="tg-0lax">27</td>
        <td class="tg-0lax">BIJA</td>
        <td class="tg-0lax">279.9661</td>
        <td class="tg-0lax">9886.9</td>
        <td class="tg-0lax">138.701</td>
        <td class="tg-0lax">4,898.17</td>
        <td class="tg-0lax"><button>VIEW DETAILS</button></td>
      </tr>
      <tr>
        <td class="tg-0lax">28</td>
        <td class="tg-0lax">KANS</td>
        <td class="tg-0lax">0</td>
        <td class="tg-0lax">0</td>
        <td class="tg-0lax">5.1622</td>
        <td class="tg-0lax">182.30</td>
        <td class="tg-0lax"><button>VIEW DETAILS</button></td>
      </tr>
      <tr>
        <td class="tg-0lax">29</td>
        <td class="tg-0lax">KARANJA</td>
        <td class="tg-0lax">0</td>
        <td class="tg-0lax">0</td>
        <td class="tg-0lax">0.3675</td>
        <td class="tg-0lax">12.97</td>
        <td class="tg-0lax"><button>VIEW DETAILS</button></td>
      </tr>
      <tr>
        <td class="tg-0lax">30</td>
        <td class="tg-0lax">KASI</td>
        <td class="tg-0lax">89.2814</td>
        <td class="tg-0lax">3152.94</td>
        <td class="tg-0lax">248.4432</td>
        <td class="tg-0lax">8,773.68</td>
        <td class="tg-0lax"><button>VIEW DETAILS</button></td>
      </tr>
      <tr>
        <td class="tg-0lax">31</td>
        <td class="tg-0lax">KATARANGA</td>
        <td class="tg-0lax">0</td>
        <td class="tg-0lax">0</td>
        <td class="tg-0lax">0.9892</td>
        <td class="tg-0lax">34.93</td>
        <td class="tg-0lax"><button>VIEW DETAILS</button></td>
      </tr>
      <tr>
        <td class="tg-0lax">32</td>
        <td class="tg-0lax">KEKAD</td>
        <td class="tg-0lax">6.3042</td>
        <td class="tg-0lax">222.63</td>
        <td class="tg-0lax">0.785</td>
        <td class="tg-0lax">27.72</td>
        <td class="tg-0lax"><button>VIEW DETAILS</button></td>
      </tr>
      <tr>
        <td class="tg-0lax">33</td>
        <td class="tg-0lax">KENDU</td>
        <td class="tg-0lax">210.3635</td>
        <td class="tg-0lax">7428.91</td>
        <td class="tg-0lax">207.5259</td>
        <td class="tg-0lax">7,328.70</td>
        <td class="tg-0lax"><button>VIEW DETAILS</button></td>
      </tr>
      <tr>
        <td class="tg-0lax">34</td>
        <td class="tg-0lax">KENDU WITH BLACK(P)</td>
        <td class="tg-0lax">0</td>
        <td class="tg-0lax">0</td>
        <td class="tg-0lax">4.333</td>
        <td class="tg-0lax">153.01</td>
        <td class="tg-0lax"><button>VIEW DETAILS</button></td>
      </tr>
      <tr>
        <td class="tg-0lax">35</td>
        <td class="tg-0lax">KENDU(WITHOUT BLACK)</td>
        <td class="tg-0lax">8.8656</td>
        <td class="tg-0lax">313.08</td>
        <td class="tg-0lax">6.7955</td>
        <td class="tg-0lax">239.98</td>
        <td class="tg-0lax"><button>VIEW DETAILS</button></td>
      </tr>