
<div class="conatainer-fluid" >
    <img src="\assets\images\silvi.webp" alt="" style="height: 390px;" width="100%">
</div>

<div class="container">
<div class="main" >
<h1 class="text-center">Forest Research</h1>
<h2>Silvicultural Research</h2>
<p>The Silviculture research plays a vital role in conservation of forest resources. Keeping in view on our vast stretch of forest cover, the Forest research wing with its headquarters at Angul was created during the year 1936 with a vision to explore various strategies and provide scientific support for decision making on matters related to forestry with particular emphasis on conservation, sustainable utilization and scientific management of our forest resources in the state. Subsequently the hedquarters was shifted to Bhubaneswar in the year 1993 and one more Silviculture division was created with headquarters at Rayagada during the year 2008 for imparting focus on conservation stratergy of Forest wealth in KBK districts which is having rich biodiversity.

    Earlier a lot of research studies was made on adaptability of different exotic species through field trial and progeny trial and in the long run it was found that though the exotics like various pinus species are yielding very good growth especially in Koraput and Kandhamal district, their naural regeneration are noticed to be very poor. Besides that it was further observed that introduction of exotics in our forest land hampers the regeneration of ground folra and indigenous species.
    
    In the present scenari, it s observed that though the forest cover is increasing, there is always a threat to ou indigenous growing stock. Thus it is the need of the hour to embelish the conservation strategy in the back drop of dwindling growing stock and to create employment opportunity and livelihood support for forest dwellers through scientific management by utilizing our exising NTFP resources.
    
    To beacon the aspiration of forest lovers and to provide improvised technique to the department, the research wing is having 19 Research Gardens and 4 Hi-Tech Nurseries in the state, where in different silviculture studies are being conducted under guidance of the experienced officers of the state and scientists.
    
    The following Silvicultural plots are existing in the State Silviculturist, Bhubaneswar and Silviculturist, Rayagada. </p>

    <div>
        <img src="\assets\images\team\research.JPG" alt="">
    </div>
    <h3>Silvicultural Studies</h3>
    <p>Soil Analysis of urban plantation and its growth study :

        There is scientific study of soil profile of plantation raised by the forest department. In the current year the soil analysis has been made in different urban plantations raised by the Divisions throughout the state by collecting soil from different strata with a view to study the growth of forest species with the soil nutrients available in that area. So that a data base will be prepared for suitability of introduction of species in presence of different soil nutient status. </p>
        <h3>RET Plantation :</h3>
        <p>From the recent study by RPRC, it is revealed that some of the valuable forest species are under threat and unscientific exploitation of MFP from the trees makes them more vulnerable. Hence focus on conservation and propagation of some RET trees are being given by raising seedlings and creating trial plots in our RG/HTN. In the current year, the plantation of phanphana, Ritha and salai have been made in our RG and it is proposed to create large scale planting stock of RET species for supply to the divisions for its propagation in natural forests.</p>
        <h3>Live Hedge :</h3>
        <p>Most of the plantation taken up by the department in the forests are susceptible to biotic interference and fire hazards. In order to give protection to the plantation and forests from the above factors, planting of kanta baunsa and agave have been introduced along the boundary of the RG/HTN to study its suitability for acting as naturai barriers and live hedge for protection of the area, which can be implemented by the forest divisions for protetion of the plantation and forests. </p>
        <h3>Production of Quality Planting Materials (QPM) :</h3>
        <p>With the intention of raising non-teak species in the nursery, effort was made to collect different indigenous seeds from the forest. Since the traditional production of teak stump is discontinued, the collection of seeds of sal associates was a difficult task. Field staff have taken interest for collection of 53 varieties of non-teak species seeds and supplied to different divisiond to the tune of about twenty quintals. Raising of nursery in root trainers and mother beds was initiated for different indigenous species.</p>
        <h3>QRM Production</h3>
        <p>1. RT seedlings        : 145000 nos
            2. Stump                  : 1189040 nos</p>
            <h3>Ficus Conservation Garden :</h3>
            <p>The Germ plasm of Ficus species is significant species is significant for its prominent role in climate change of the states having tropical climate. A Ficus conservation plot is under taken with 96 varieties of Ficus plants and more than 50 species of Ficus bonsai in Khandagiri RG over 3.0 ha of land in the year 2018-19.</p>

        </div>
    </div>