<!-- <section class="innbanner">
<img  src="assets/images/gallery_banner.jpg">
    <h2>Photo Gallery</h2>

</section>

<section class="uk-section-small">
<div class="uk-container">
<section>
    <div>
       <div class="col-12" style="padding-top:1rem;">
            <div class="title text-center event">
                <h2 style="font-size: large;">Photo Gallery</h2>
                <div class="border"></div>
            </div>
        </div>
        <div style="border: 7px solid teal;">
            <div class="row" style="border: 1px solid teal;">
            <div class="col-md-3">
                Forest Mela <br>
                
            </div>
            <div class="col-md-9">
                <div class="uk-container">
                    <div class="uk-child-width-1-4@m uk-child-width-1-2 gallery uk-grid-small" uk-grid
                      uk-lightbox="animation: slide">
                      <div>
                        <a class="uk-inline" href="/assets/images/team/img7.jpg"
                          data-caption="Deepotsav Mela"  >
                          <img src="/assets/images/team/img8.jpg" alt="" style="height:150px ; width: 150px;">
                        </a>
                      </div>
                      <div>
                        <a class="uk-inline" href="/assets/images/team/img1.jpg"
                          data-caption="Deepotsav Mela">
                          <img src="/assets/images/team/img2.jpg" alt="">
                        </a>
                      </div>
                      <div>
                        <a class="uk-inline" href="/assets/images/team/img3.jpg"
                          data-caption="Deepotsav Mela">
                          <img src="/assets/images/team/img3.jpg" alt="">
                        </a>
                      </div>
                      <div>
                        <a class="uk-inline" href="/assets/images/team/img4.jpg"
                          data-caption="Deepotsav Mela">
                          <img src="/assets/images/team/img4.jpg" alt="">
                        </a>
                      </div>







                    </div>
                  </div>
            </div>           
            </div>
            <div class="row" style="border: 1px solid teal;">
                <div class="col-md-3">
                    Advisory Forum Meeting <br>
                    
                 </div>
                 <div class="col-md-9">
                     <div class="uk-container">
                         <div class="uk-child-width-1-4@m uk-child-width-1-2 gallery uk-grid-small" uk-grid
                           uk-lightbox="animation: slide">
                           <div>
                             <a class="uk-inline" href="/assets/images/team/img5.jpg"
                               data-caption="Advisory Forum Meeting">
                               <img src="/assets/images/team/img5.jpg" alt="">
                             </a>
                           </div>
                           <div>
                             <a class="uk-inline" href="/assets/images/team/img8.jpg"
                               data-caption="Advisory Forum Meeting">
                               <img src="/assets/images/team/img8.jpg" alt="">
                             </a>
                           </div>
                           <div>
                             <a class="uk-inline" href="/assets/images/team/img7.jpg"
                               data-caption="Advisory Forum Meeting">
                               <img src="/assets/images/team/img7.jpg" alt="">
                             </a>
                           </div>
                           <div>
                             <a class="uk-inline" href="/assets/images/team/img8.jpg"
                               data-caption="Advisory Forum Meeting">
                               <img src="/assets/images/team/img8.jpg" alt="">
                             </a>
                           </div>
                         </div>
                       </div>
                 </div>
            </div>
            <div class="row" style="border: 1px solid teal;">
                <div class="col-md-3">
                  forest view of Khordha
                 </div>
                 <div class="col-md-9">
                     <div class="uk-container">
                         <div class="uk-child-width-1-4@m uk-child-width-1-2 gallery uk-grid-small" uk-grid
                           uk-lightbox="animation: slide">
                           <div>
                             <a class="uk-inline" href="/assets/images/team/img14.jpg"
                               data-caption="Sai Temple">
                               <img src="/assets/images/team/img14.jpg" alt="">
                             </a>
                           </div>
                           <div>
                             <a class="uk-inline" href="/assets/images/team/img15.jpg"
                               data-caption="Sai Temple">
                               <img src="/assets/images/team/img15.jpg" alt="">
                             </a>
                           </div>
                           <div>
                             <a class="uk-inline" href="/assets/images/team/img16.jpg"
                               data-caption="Raja Library">
                               <img src="/assets/images/team/img16.jpg" alt="">
                             </a>
                           </div>
                           <div>
                             <a class="uk-inline" href="/assets/images/team/img12.jpeg"
                               data-caption="RadhaKrishna Temple">
                               <img src="/assets/images/team/img12.jpeg" alt="">
                             </a>
                           </div>
                         </div>
                       </div>
                 </div>
            </div>
        </div>
    </div>
</section>

</div>



</section> -->


<section class="innbanner">
  <img  src="assets/images/gallery_banner.jpg">
      <h2>Photo Gallery</h2>
  
  </section>
  
  <section class="uk-section-small">
  <div class="uk-container">
  <section>
      <div>
         <div class="col-12" style="padding-top:1rem;">
              <div class="title text-center event">
                  <h2 style="font-size: large;">Photo Gallery</h2>
                  <div class="border"></div>
              </div>
          </div>
          <div style="border: 7px solid teal;">
              <div class="row" style="border: 1px solid teal;">
              <div class="col-md-3">
                  Forest Mela <br>
                  
              </div>
              <div class="col-md-9">
                  <div class="uk-container">
                      <div class="uk-child-width-1-4@m uk-child-width-1-2 gallery uk-grid-small" uk-grid
                        uk-lightbox="animation: slide">
                        <div>
                          <a class="uk-inline" href="/assets/images/team/img7.jpg"
                            data-caption="Deepotsav Mela">
                            <img src="/assets/images/team/img8.jpg" alt="">
                          </a>
                        </div>
                        <div>
                          <a class="uk-inline" href="/assets/images/team/img1.jpg"
                            data-caption="Deepotsav Mela">
                            <img src="/assets/images/team/img2.jpg" alt="">
                          </a>
                        </div>
                        <div>
                          <a class="uk-inline" href="/assets/images/team/img3.jpg"
                            data-caption="Deepotsav Mela">
                            <img src="/assets/images/team/img3.jpg" alt="">
                          </a>
                        </div>
                        <div>
                          <a class="uk-inline" href="/assets/images/team/img4.jpg"
                            data-caption="Deepotsav Mela">
                            <img src="/assets/images/team/img4.jpg" alt="">
                          </a>
                        </div>
  
  
  
  
  
  
  
                      </div>
                    </div>
              </div>           
              </div>
              <div class="row" style="border: 1px solid teal;">
                  <div class="col-md-3">
                      Advisory Forum Meeting <br>
                      
                   </div>
                   <div class="col-md-9">
                       <div class="uk-container">
                           <div class="uk-child-width-1-4@m uk-child-width-1-2 gallery uk-grid-small" uk-grid
                             uk-lightbox="animation: slide">
                             <div>
                               <a class="uk-inline" href="/assets/images/team/img5.jpg"
                                 data-caption="Advisory Forum Meeting">
                                 <img src="/assets/images/team/img5.jpg" alt="">
                               </a>
                             </div>
                             <div>
                               <a class="uk-inline" href="/assets/images/team/img8.jpg"
                                 data-caption="Advisory Forum Meeting">
                                 <img src="/assets/images/team/img8.jpg" alt="">
                               </a>
                             </div>
                             <div>
                               <a class="uk-inline" href="/assets/images/team/img7.jpg"
                                 data-caption="Advisory Forum Meeting">
                                 <img src="/assets/images/team/img7.jpg" alt="">
                               </a>
                             </div>
                             <div>
                               <a class="uk-inline" href="/assets/images/team/img8.jpg"
                                 data-caption="Advisory Forum Meeting">
                                 <img src="/assets/images/team/img8.jpg" alt="">
                               </a>
                             </div>
                           </div>
                         </div>
                   </div>
              </div>
              <div class="row" style="border: 1px solid teal;">
                  <div class="col-md-3">
                    forest view of Khordha
                   </div>
                   <div class="col-md-9">
                       <div class="uk-container">
                           <div class="uk-child-width-1-4@m uk-child-width-1-2 gallery uk-grid-small" uk-grid
                             uk-lightbox="animation: slide">
                             <div>
                               <a class="uk-inline" href="/assets/images/team/img14.jpg"
                                 data-caption="Sai Temple">
                                 <img src="/assets/images/team/img14.jpg" alt="">
                               </a>
                             </div>
                             <div>
                               <a class="uk-inline" href="/assets/images/team/img15.jpg"
                                 data-caption="Sai Temple">
                                 <img src="/assets/images/team/img15.jpg" alt="">
                               </a>
                             </div>
                             <div>
                               <a class="uk-inline" href="/assets/images/team/img16.jpg"
                                 data-caption="Raja Library">
                                 <img src="/assets/images/team/img16.jpg" alt="">
                               </a>
                             </div>
                             <div>
                               <a class="uk-inline" href="/assets/images/team/img12.jpeg"
                                 data-caption="RadhaKrishna Temple">
                                 <img src="/assets/images/team/img12.jpeg" alt="">
                               </a>
                             </div>
                           </div>
                         </div>
                   </div>
              </div>
          </div>
      </div>
  </section>
  
  </div>
  
  
  
  </section>
