
<section class="innbanner" style="margin-top: -57px;">
    <div class="row">
        <div class="col-md-12">
            <img src="assets/images/plantation/t1.jpg">
        </div>
    </div>
    <h3>TIMBER & FIREWOOD</h3>
</section>
<section style="margin-top: -120px;">
    <div class="crumb-bg">
        <div class="uk-container">
           <ol class="breadcrumb">
              <li onclick="window.location='./'">Home</li>/
              <li onclick="window.location='./'"> activities </li>/
              <li class="active"> TIMBER & FIREWOOD </li>
           </ol>
        </div>
     </div>
</section>
<section class=""style="margin-top: -120px;" >
    <div class="uk-container">
       
        <div class="row">
          
            <div class="kendu-txt">  Timber & Firewood</div>
            <p style="text-align:center;">Harvesting of Timber & Firewood through scientific forestry operation and selling them to the Local public to meet their need for various household purposes at a concessional rate and also for commercial purpose through Tender ,Auction & Retail Sales are the mainstay operation of the OSDC Ltd. Main source of timber and firewood is from the forest coupes delivered by forest department as per the prescriptions of Annual working plans/Working schemes. </p>
            <div class="col-md-5">
                <img src="assets/images/plantation/t2.jpg" style="width: 100%;
                height: 320px;
                margin: 10px auto;
                border-radius: 20px;">
            </div>
            <div class="col-md-7">
                <div class="kendu-txt"> Timber & Firewood </div>
                           <p style="text-align: justify;">
                            OSDC Ltd. also receives timber and firewood salvaged from forest floor, timber seized by the Forest Department in forest offence cases, tenant timber and from developmental project areas like roads, railways, refineries, mining etc. After harvesting, these timber and firewood are brought to various depots maintained at different places in the State. OSDC has more than 130 nos of Timber and Firewood Depot across the state for sale of these products.
                           </p>
            </div>
        </div>
    </div>
    <div class="uk-container">
        <div class="row">
            <div class="col-md-7">
             <div class="kendu-txt"> Timber & Firewood </div>
        
             <p style="text-align: justify;">The Uniqueness of Odisha's Tendu (kendu) leaf is in 
                processed form whereas the rest of the states in 
                India produces in Phal Form. In processed form 
                the Kendu leafs are graded into different qualities 
                that are Grade I to Grade IV as per the specification
                 of color, texture, size and body condition of the leaf
                  and packets will be done by taking Five Kilograms as a 
                  Bundle. Twelve Bundles of Five Kilogram of each are
                   packed in a gunny bag and 100 such bag equivalent to
                    sixty quintals make one truckload.
                     Where as no gradation is done in respect of PHAL
                      Leaf and only loose leafs are packed tightly
                       inside the gunny bag.</p>
            </div>
            <div class="col-md-5">
                <img src="assets/images/plantation/t3.jpg" style="width: 100%;
                height: 320px;
                margin: 10px auto;
                border-radius: 20px;">
            </div>
        </div>
    </div>
</section>
<div class="kendu-txt"> Timber & Firewood </div>
 <div class="container">
<div class="uk-container">
    <div class="row">
        <div class="col-md-4">
            <img src="assets/images/plantation/t4.jpg" style="width: 100%;
            height: 320px;
            margin: 10px auto;
            border-radius: 20px;">
        </div>
        
        <div class="col-md-4">
            <img src="assets/images/plantation/t5.jpg" style="width: 100%;
            height: 320px;
            margin: 10px auto;
            border-radius: 20px;">
        </div>
        <div class="col-md-4">
            <img src="assets/images/plantation/t6.jpg" style="width: 100%;
            height: 320px;
            margin: 10px auto;
            border-radius: 20px;">
        </div>
    </div>
</div>
<div class="uk-container">
    <div class="row">
        <div class="col-md-4">
            <img src="assets/images/plantation/t7.jpg" style="width: 100%;
            height: 320px;
            margin: 10px auto;
            border-radius: 20px;">
        </div>
        
        <div class="col-md-4">
            <img src="assets/images/plantation/t8.jpg" style="width: 100%;
            height: 320px;
            margin: 10px auto;
            border-radius: 20px;">
        </div>
        <div class="col-md-4">
            <img src="assets/images/plantation/t9.jpg" style="width: 100%;
            height: 320px;
            margin: 10px auto;
            border-radius: 20px;">
        </div>
    </div>
</div>
</div>
