<section class="container-fluid">
    <div class="container;">
        <div class="table-responsive table-border">

            <table class="tableheight" width="100%" cellspacing="0" cellpadding="0" border="0">

                <tbody>
                    <tr>
                        <td valign="top" align="center">
                            <table width="100%" cellspacing="1" cellpadding="1" border="0" align="center">
                          <tbody>
                                    <tr>
                                        <td class="up-bg" colspan="4"><strong>SPECIES WISE AVAILABILITY OF <span
                                                    class="hl8"> <i class="fa fa-hand-o-right"></i> &nbsp; Round Timber
                                                </span> </strong>
                                        </td>
                                        <td style="color: #fff;background: #506814;padding: 4px;"><a
                                                href="https://www.odishafdc.com/sales/generalsalesprice.php"><button
                                                    class="rt-bt rts-14" value="Species Wise Timber Report">
                                                    <span>VIEW RATE DETAILS</span></button></a></td>

                                    </tr>
                                </tbody>
                            </table>


                            <table width="100%" cellspacing="1" cellpadding="1" border="1" align="center">
                                <tbody>
                                    <tr style=" border-bottom:1px solid #ddd;">
                                        <td rowspan="2" style="background-color:#dce307" width="8%" align="center"><span
                                                class="skill"><strong>Sl No</strong></span></td>
                                        <td rowspan="2" style="background-color:#dce307" width="18%" align="center">
                                            <span class="skill"><strong>SPECIES </strong></span>
                                        </td>
                                        <td style="background-color:#dce307" colspan="2" align="center"><span
                                                class="skill"><strong> AVAILABLE IN LOT</strong></span></td>
                                        <td colspan="2" style="background-color:#dce307" align="center"><span
                                                class="skill"><strong> AVAILABLE IN LOG</strong></span></td>
                                        <td rowspan="2" style="background-color:#dce307" width="14%" align="center">
                                            <span class="skill"><strong>OPTION</strong></span>
                                        </td>
                                    </tr>
                                    <tr style=" border-bottom:1px solid #353434;">
                                        <td style=" background-color:#a1cdff" width="16%" align="center"><span
                                                class="skill"><strong style="font-size:12px;">VOLUME IN
                                                    CUM</strong></span></td>
                                        <td style=" background-color:#a1cdff" width="14%" align="center"><span
                                                class="skill"><strong style="font-size:12px;">VOLUME IN
                                                    CFT</strong></span></td>
                                        <td style=" background-color:#f9a7a7" width="17%" align="center"><span
                                                class="skill"><strong style="font-size:12px;">VOLUME IN
                                                    CUM</strong></span></td>
                                        <td style=" background-color:#f9a7a7" width="13%" align="center"><span
                                                class="skill"><strong style="font-size:12px;">VOLUME IN
                                                    CFT</strong></span></td>
                                    </tr>



                                    <tr valign="top">
                                        <td class="skill" style=" background-color:#fbcda0" height="30">1</td>
                                        <td class="skill" style=" background-color:#f9f4dc" height="30"><strong>ACACIA
                                            </strong></td>

                                        <td class="skill" style=" background-color:#dbe9f9" height="30">12.401</td>
                                        <td class="skill" style=" background-color:#dbe9f9" height="30">437.93</td>
                                        <td class="skill" style=" background-color:#f9dbdb" height="30">156.3064</td>
                                        <td class="skill" style=" background-color:#f9dbdb" height="30">5,519.90 </td>

                                        <td class="skill" style=" background-color:#ddf9db" height="30">

                                            <button class="view_btn1" value="Species Wise Timber Report"
                                                onclick="viewspeciesreport('29','156.3064','1');"><span>VIEW
                                                    DETAILS</span></button>

                                        </td>

                                    </tr>


                                    <tr valign="top">
                                        <td class="skill" style=" background-color:#fbcda0" height="30">2</td>
                                        <td class="skill" style=" background-color:#f9f4dc" height="30">
                                            <strong>ARJUN</strong>
                                        </td>

                                        <td class="skill" style=" background-color:#dbe9f9" height="30">168.3342</td>
                                        <td class="skill" style=" background-color:#dbe9f9" height="30">5944.66</td>
                                        <td class="skill" style=" background-color:#f9dbdb" height="30">687.5736</td>
                                        <td class="skill" style=" background-color:#f9dbdb" height="30">24,281.43 </td>

                                        <td class="skill" style=" background-color:#ddf9db" height="30">

                                            <button class="view_btn1" value="Species Wise Timber Report"
                                                onclick="viewspeciesreport('28','687.5736','1');"><span>VIEW
                                                    DETAILS</span></button>

                                        </td>

                                    </tr>

                                    <tr>

                                        <td class="skill" style="background-color:#fdcb05" height="37">&nbsp;</td>
                                        <td class="skill" style="background-color:#fdcb05; font-size: 15px;"
                                            align="right"><strong>GRAND TOTAL :</strong> </td>
                                        <td class="skill" style="background-color:#fdcb05; font-size: 15px;"
                                            align="right"><strong>12111.6925</strong></td>
                                        <td class="skill" style="background-color:#fdcb05; font-size: 15px;"
                                            align="right"><strong>427720.38</strong></td>
                                        <td class="skill" style="background-color:#fdcb05; font-size: 15px;"
                                            align="right"><strong>14744.5907</strong></td>
                                        <td class="skill" style="background-color:#fdcb05; font-size: 15px;"
                                            align="right"><strong>530,629.3200</strong></td>
                                        <td class="skill" style="background-color:#fdcb05" align="right">&nbsp;</td>
                                    </tr>
                                </tbody>
                            </table>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>