<div class="">
    <img src="/assets/images/plantation/career4.jpg" alt="" style="height:300px ;" width="100%">
</div>
  <div class="container-fluid">
    <!-- <section> -->
<table id="customers">
  <tr>
    <th>Circular / Notice Details</th>
  </tr>
</table>
<!-- </section> -->
<!-- <section> -->
<table id="customers">
    <tr>
      <th>S/N</th>
      <th>Circular / Notice</th>
      <th>View</th>
    </tr>
  </table>
  <!-- </section> -->
  <!-- <section> -->
  <div class="card" style="margin-bottom:400px ;">
    <div class="card-body">
        <div class="row">
                      <table id="customers">
              <tr>
                <th>Job Vacancy Details</th>
              </tr>
            </table>
            <table id="customers">
              <tr>
                <td>There is no vacancy at the moment.</td>
              </tr>
            </table>
        </div>
    </div>
  </div>
  <!-- </section> -->
</div>