#master-plan{
    margin: 3rem 0;
}
.main-title{
    margin: 1rem auto;
    text-align: center;
    font-weight: 300;
}
.main-title:after{
    display: block;
    height: 13px;
    content: "";
    background: url(/assets/images/main-title-decor.png) no-repeat center;
    margin: 15px 0 0 0;
}
.intro-wrap{
    margin: 2rem auto;
}
.apply-button{
    background-color:#f4825b;
    color:#fff;
    font-size: 16px;
    height:50px;
    line-height:50px;
    padding:0 25px;
    border:1px solid #f49c00;
    display: inline-block;
    vertical-align: middle;
    margin:10px auto;
}
.diagram-img {
    height: auto;
}
.innbanner  img{
    height: 370px;
    position: relative;
    position: relative;
    /* background-size: cover; */
    background-position: bottom center;
    /* background-attachment: fixed; */
    background-attachment: initial;
    background-size: 100% 100%;
    width: 100%;
    background: linear-gradient(to left, #2e7add, #f8e15b);

  }
  .innbanner h2 {
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: #2284d570;
      padding: 30px;
      border-radius: 20px;
  }