
<section class="innbanner" style="margin-top: -60px;">
    <div class="row">
        <div class="col-md-12"data-aos="zoom-in">
            <img src="/assets/images/plantation/s1.jpg">
        </div>
    </div>
    <h3>SITE CLEARANCE </h3>
</section>
<section style="margin-top:-120px ;">
    <div class="crumb-bg">
        <div class="uk-container">
           <ol class="breadcrumb">
              <li onclick="window.location='./'">Home</li>/
              <li onclick="window.location='./'"> activities </li>/
              <li class="active"> SITE CLEARANCE PROJECTS  </li>
           </ol>
        </div>
     </div>
</section>
<!-- <section class="" > -->
    <div class="container">
    <div class="uk-container" style="margin-top:-40px ;">
       
        <div class="row">
            <!-- <h6 class="text-center">
                PLANTATIONS & LANDSCAPING
            </h6> -->
            <div class="kendu-txt">SITE CLEARANCE PROJECTS </div>
            <p style="text-align:center;">For any developmental work clearance of tree from the site is an integral plan. The User Agency viz. Indian Railway, Water Reservoir/ Irrigation Authority, National Highway Authority, Public work Department (PWD), Electric Transmission Authority etc have faith in Odisha Forest Development Corporation for taking up tree clearance work on their behalf for clearance of trees, to go-ahead with the project. Thus, Odisha Forest Development Corporation have been taking up tree clearance deposit work for laying of new Railway line , Doubling of Railway line, six laning four laning of National Highway , double laning of State Highway , Establishment of premier institutions like AIIMS, Expansion of Medical College, Construction of water Reservoir, Bus stand, setting of new institutions etc.

                As such Odisha Forest Development Corporation has been a partner in the development of state as well as country. Odisha Forest Development Corporation also take up tree planting ten/two times of the trees required to be removed for various project works. </p>
            <div class="col-md-4"data-aos="fade-left">
                <img src="/assets/images/plantation/s4.jpg" style="width: 100%;
                height: 320px;
                margin: 10px auto;
                border-radius: 20px;">
            </div>
            <div class="col-md-4"data-aos="fade-right">
                <img src="/assets/images/plantation/s2.jpg" style="width: 100%;
                height: 320px;
                margin: 10px auto;
                border-radius: 20px;">
        </div>
        <div class="col-md-4"data-aos="fade-left">
            <img src="/assets/images/plantation/s3.jpg" style="width: 100%;
            height: 320px;
            margin: 10px auto;
            border-radius: 20px;">
    </div>
    </div>
    <div class="uk-container">
        <div class="row">
            <div class="col-md-4"data-aos="fade-right">
                <img src="/assets/images/plantation/s4.jpg" style="width: 100%;
                height: 320px;
                margin: 10px auto;
                border-radius: 20px;">
            </div>
            
            <div class="col-md-4"data-aos="fade-left">
                <img src="/assets/images/plantation/s5.jpg" style="width: 100%;
                height: 320px;
                margin: 10px auto;
                border-radius: 20px;">
            </div>
            <div class="col-md-4" data-aos="flip-up">
                <img src="/assets/images/plantation/s6.jpg" style="width: 100%;
                height: 320px;
                margin: 10px auto;
                border-radius: 20px;">
            </div>
        </div>
    </div>
</div>
<!-- </section> -->


