<div id="mainArea">
    <!-- Header Section -->
    <div id="header">
        <div class="logo">
                <a href="index.htm" title="Chandaka - Dampara Wildlife Sanctuary"><img src="image/logo.jpg" alt="Chandaka - Dampara Wildlife Sanctuary" title="Chandaka - Dampara Wildlife Sanctuary" width="499px" height="122px" border="none" /></a>
        </div>
        <div class="logo"><img src="image/top-header.jpg" alt="Chandaka - Dampara Wildlife Sanctuary"></div>
        <div id="headerLink"><img src="image/top-link.jpg" alt="Chandaka - Dampara Wildlife Sanctuary" border="0" usemap="#Map">
          <map name="Map">
            <area shape="rect" coords="7,72,40,102" href="index.htm">
            <area shape="rect" coords="53,75,93,109" href="contact.htm">
          </map>
        </div>
    
    </div>
        <!-- End of Header Section -->
    
    <!-- Menu Section -->
    <div id="mainmenu">
      <div class="alighLeft"><img src="image/menu-left.jpg"></div>
      <div class="menuDvdr"><a href="about-us.htm">About Us</a></div>
      <div class="menuwhite">&nbsp;</div>
      <div class="menuDvdr"><a href="Eco-Tourism.htm">Eco Tourism</a></div>
      <div class="menuwhite">&nbsp;</div>
      <div class="menuDvdr"><a href="Activity.htm">Activity</a></div>
      <div class="menuwhite">&nbsp;</div>
      <div class="menuDvdr"><a href="Wildlife.htm">Wildlife</a></div>
      <div class="menuwhite">&nbsp;</div>
      <div class="menuDvdr"><a href="Forest.htm">Forest</a></div>
      <div class="menuwhite">&nbsp;</div>
      <div class="menuDvdr"><a href="Gallery.htm">Gallery</a></div>
      <div class="menuwhite">&nbsp;</div>
      <div class="menuDvdr"><a href="Research.htm">Research</a></div>
      <div class="menuwhite">&nbsp;</div>
      <div class="menuDvdr"><a href="Location.htm">Location</a></div>
      <div class="menuwhite">&nbsp;</div>
      <div class="menuDvdr"><a href="RTI.htm">RTI</a></div>
      <!--<div class="menuwhite">&nbsp;</div>
      <div class="menuDvdr"><a href="FAQ.htm">FAQ</a></div>-->
      <div class="alighR"><img src="image/menu-right.jpg"></div>
    </div>
    <!-- End of Menu Section -->
    
    <div class="contect_fix">
    <table width="100%"  border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td valign="top" class="bLeft"><img src="image/inner_left.jpg" width="41" height="218"></td>
        <td class="vTop"><img src="image/header/about_header.jpg" width="880" height="218"></td>
        <td class="bRight"><img src="image/inner-right.jpg" width="41" height="218"></td>
      </tr>
      <tr>
        <td class="bLeft2"><img src="image/left-footer.jpg" width="41" height="227"></td>
        <td valign="top" id="mainContent"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
          <tr bgcolor="#FFFFFF">
            <td width="25%">&nbsp;</td>
            <td width="3%">&nbsp;</td>
            <td width="72%">&nbsp;</td>
          </tr>
          <tr>
            <td valign="top"><table width="100%"  border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td><a href="about-sanctuary.htm"><img src="image/about-sanctuary1.jpg" width="221" height="26" border="0"></a></td>
              </tr>
              <tr>
                <td height="2"><img src="image/pixel.gif" width="1" height="1"></td>
              </tr>
              <tr>
                <td><a href="news-events.htm"><img src="image/news-events.jpg" width="221" height="26" border="0"></a></td>
              </tr>
              <tr>
                <td height="2"><img src="image/pixel.gif" width="1" height="1"></td>
              </tr>
              <tr>
                <td height="2"><img src="image/pixel.gif" width="1" height="1"></td>
              </tr>
              <tr>
                <td><a href="locate.htm"><img src="image/locate-us.jpg" width="221" height="26"  border="0"></a></td>
              </tr>
            </table>
            </td>
            <td>&nbsp;</td>
            <td valign="top" class="normalText"><div class="pageHeader">Tender 2022 - 2023</div>
            <a style="color: #F00; font-weight: bold;" href="/pdf/chandaka-tender-call-notice-for-hiring-of-vehicle-20221017.pdf" target="_blank"><img src="./img/icons/blinking_new.gif" border="0" alt="Newa" title="New" align="left" />1. Tender Call Notice for Hiring of Vehicles.</a>
            <p>&nbsp;&nbsp;</p>
    <!--<table border="1">
    <tr>
    <td><strong>Sl. No</strong></td>
    <td><strong>Parameters</strong></td>
    <td><strong>Specs</strong> </td>
    </tr>
    <tr>
    <td>1</td>
    <td>Body</td>
    <td>Metal Body with weather coating resistance painting</td>
    </tr>
    <tr>
    <td>2</td>
    <td>Max. Speed	</td>
    <td>25 Km/Hr</td>
    </tr>
    <tr>
    <td>3</td>
    <td>Load Capacity</td>
    <td>450-500Kgs (4-persons) excluding the driver.</td>
    </tr>
    <tr>
    <td>4</td>
    <td>Ground Clearance</td>
    <td>300 mm</td>
    </tr>
    <tr>
    <td>5</td>
    <td>Charging System</td>
    <td>Solar & Grid 220VAC</td>
    </tr>
    <tr>
    <td>6</td>
    <td>Direct Charging	</td>
    <td>Via Solar 300Wp Module (48V Solar Module)</td>
    </tr>
    <tr>
    <td>6</td>
    <td>Mileage	</td>
    <td>60-80 (Km/Charge) with Solar and Grid Charging</td>
    </tr>
    <tr>
    <td>7</td>
    <td>Total Weight</td>
    <td>180-200Kgs Approx</td>
    </tr>
    <tr>
    <td>8</td>
    <td>Color</td>
    <td>Yellow</td>
    </tr>
    <tr>
    <td>9</td>
    <td>Roof Type</td>
    <td>Water Proof Material</td>
    </tr>
    <tr>
    <td>10</td>
    <td>Battery Type</td>
    <td>48V 60Ah (Solar Tubular Battery @ C10 Charging)</td>
    </tr>
    <tr>
    <td>11</td>
    <td>Battery Quantity</td>
    <td>4 (Four)</td>
    </tr>
    <tr>
    <td>12</td>
    <td>Brake</td>
    <td>Hand Brake/Foot Brake</td>
    </tr>
    <tr>
    <td>13</td>
    <td>Motors</td>
    <td>48V/850 Watts Brushless</td>
    </tr>
    <tr>
    <td>14</td>
    <td>Wheel Size</td>
    <td>2.75-14 Birla Tyre or similar tyres of India make.</td>
    </tr>
    <tr>
    <td>15</td>
    <td>Dimension</td>
    <td>2650 x 970 x 1800mm</td>
    </tr>
    <tr>
    <td>15</td>
    <td>Climbing capacity</td>
    <td>Upto-20*</td>
    </tr>
    </table>
    <p>The undersigned reserves the right to reject any or all the quotations without assigning any reason thereof.</p>
    <p align=right>Divisional Forest Officer<br /> 
    Chandaka Wildlife Division<br /> 
    Bhubaneswar</p>
    <br /> <br />       
    
    <a style="color: #F00; font-weight: bold;" href="/pdf/night-vision-camera-tender.pdf" target="_blank">2. Tender Call Notice for Supply of 1 Nos  Binocular Night Vision Goggles.</a>
            <p>&nbsp;&nbsp;</p>
            
    <table border="1">
    <tr>
    <td><strong>Image Tube</strong></td>
    <td><strong>"High Resolution " 64-72lp/mm</strong></td>
    </tr>
    <tr>
    <td>Magnification</td>
    <td>1x standard; 3x , 5x,8x optional</td>
    </tr>
    <tr>
    <td>Lens system</td>
    <td>F1.2, 24mm</td>
    </tr>
    <tr>
    <td>FOV(°)</td>
    <td>40</td>
    </tr>
    <tr>
    <td>Range of Focus(m)</td>
    <td>0.25 to infinity</td>
    </tr>
    <tr>
    <td>Diopter Adjustment(dpt)</td>
    <td>-5 to +5</td>
    </tr>
    <tr>
    <td>Controls</td>
    <td>Digital</td>
    </tr>
    <tr>
    <td>Automatic Brightness Control</td>
    <td>Yes</td>
    </tr>
    <tr>
    <td>Bright Light Cut-off</td>
    <td>Yes</td>
    </tr>
    <tr>
    <td>Automatic Shut-off system</td>
    <td>Yes</td>
    </tr>
    <tr>
    <td>Infrared Illuminator</td>
    <td>Yes(Built in)</td>
    </tr>
    <tr>
    <td>IR Indicator</strong></td>
    <td>Yes(in FOV)</td>
    </tr>
    <tr>
    <td>Low Battery Indicator</td>
    <td>Yes(in FOV)</td>
    </tr>
    <tr>
    <td>Power Supply</td>
    <td>(1)3 V lithium , or (1) AA Alkaline</td>
    </tr>
    <tr>
    <td>Battery Life(hours)</td>
    <td>60</td>
    </tr>
    <tr>
    <td>Environmental Rating</td>
    <td>Water and fog resistant</td>
    </tr>
    <tr>
    <td>Operating temperature(°c)</td>
    <td>-40 to +50</td>
    </tr>
    <tr>
    <td>Dimensions (LxWxH, mm)</td>
    <td>150x102x70</td>
    </tr>
    <tr>
    <td>Weight (kg)</td>
    <td>0.45</td>
    </tr>
    </table>
    <br />
    <a style="color: #F00; font-weight: bold;" href="/pdf/tcn-water-pumping-system.pdf" target="_blank">3. Quotation Call Notice for Supply of Solar Water Pumping System & Solar Power Generating System at various Watch Tower and Hamlet for Use in the Forests of Chandaka Damapada Wildlife Sanctuary.</a>
            <p>&nbsp;&nbsp;</p>
    <table border="1">
    <tr><strong>Technical Specification for Solar Submersible Pumping System 0.5 HP (AC)</strong></tr>
    <tr>
    <td rowspan="2"><strong>Sl. No</strong></td>
    <td colspan="2"><strong>Solar Pump</strong></td>
    <td rowspan="2"><strong>Solar Inverter/ Charge Controller</strong></td>
    <td rowspan="2"><strong>Head Range(in meter)</strong></td>
    <td rowspan="2"><strong>Discharge Range(In litre per day considering 7.0 Kw/m2/day of average Solar Irradiance in India)</strong></td>
    <td rowspan="2"><strong>Minimum Solar Module total Watt</strong></td>
    <td rowspan="2"><strong>Discharge size</strong></td>
    </tr>
    <tr>
    <td><strong>HP</strong></td>
    <td><strong>KW</strong></td>
    </tr>
    <tr>
    <td>01.</td>
    <td>0.5</td>
    <td>0.37</td>
    <td>200 - 220 V, AC (3 Phase)</td>
    <td>20 - 15</td>
    <td>13000 - 26000</td>
    <td>700</td>
    <td>32mm</td>
    </tr>
    </table>
    <br />
    <table border="1">
    <tr><strong>Technical specification for Solar Submersible Pumping System 1HP (AC)</strong></tr>
    <tr>
    <td rowspan="2"><strong>Sl. No</strong></td>
    <td colspan="2"><strong>Solar Pump</strong></td>
    <td rowspan="2"><strong>Solar FVD Charge Controller</strong></td>
    <td rowspan="2"><strong>Head Range(in meter)</strong></td>
    <td rowspan="2"><strong>Discharge Range(In litre per day considering 7.0 Kw/m2/day of average Solar Irradiance in India)</strong></td>
    <td rowspan="2"><strong>Minimum Solar Module total Watt</strong></td>
    <td rowspan="2"><strong>Discharge size</strong></td>
    </tr>
    <tr>
    <td><strong>HP</strong></td>
    <td><strong>KW</strong></td>
    </tr>
    <tr>
    <td>01.</td>
    <td>1.0</td>
    <td>0.75</td>
    <td>200 - 220 V, AC (3 Phase)</td>
    <td>88 - 60</td>
    <td>13000 - 26000</td>
    <td>1200</td>
    <td>32mm</td>
    </tr>
    </table>
    <br />
    <table border="1">
    <tr><strong>Load Details of Solar Power Generating System at Jaria and Chudanga</strong></tr>
    <tr>
    <td><strong>Load Details</strong></td>
    <td><strong>Units</strong></td>
    <td><strong>Per Unit Load (Watt)</strong></td>
    <td><strong>Total Load (Watt)</strong></td>
    <td><strong>Time of operation (Hrs/Day)</strong></td>
    <td><strong>Total Energy needed (Watt Hr)</strong></td>
    </tr>
    
    <tr>
    <td>FAN</td>
    <td>1</td>
    <td>80 Watt</td>
    <td>80 Watt</td>
    <td>6 Hrs</td>
    <td>480</td>
    </tr>
    
    <tr>
    <td>CFL</td>
    <td>5</td>
    <td>11</td>
    <td>55 Watt</td>
    <td>6 Hrs</td>
    <td>330</td>
    </tr>
    
    <tr>
    <td></td>
    <td></td>
    <td></td>
    <td>135</td>
    <td></td>
    <td>810</td>
    </tr>
    </table>
    <br />
    
    <p>The undersigned reserves the right to reject any or all the quotations without assigning any reason thereof.</p>
    <p align=right>Divisional Forest Officer<br /> 
    Chandaka Wildlife Division<br /> 
    Bhubaneswar</p>
    <br /> <br />       
    
    <a style="color: #F00; font-weight: bold;" href="/pdf/hiring-of-vehicle.pdf" target="_blank">4.Short Tender Notice for Hiring of Vehicle.</a>
            <p>&nbsp;&nbsp;</p>
        
    <br /> <br />   
    
    <a style="color: #F00; font-weight: bold;" href="/pdf/data-entry-operator-driver.pdf" target="_blank">5. Short Tender Notice for Data Entry Operator & Driver.</a>
            <p>&nbsp;&nbsp;</p>  
           <!-- <ol>
            <li><a href="pdf/tcn-solar-equipment-chandaka.pdf" target="_blank" ><strong>Supply and Commissioning of Solar PV Plant, Solar Submersible Pumping System, Solar Heating System at Jhumka Eco Tourism Site in Chandaka Wildlife Division.</strong></a></li>
            <li><a href="pdf/corrigendum-solar-equipment-chandaka.pdf" target="_blank" ><strong>for the Solar PV plant, Submersible pumping system and Solar water heating system at Jhumka in Chandaka WildLife Division.</strong></a></li>
    
            </ol>-->
             <!-- <ol>
              <li><a href="pdf/call-notice-for-elephant-proof-barrier-for-this-divison-for-the-tender-of-left-over-work-2012-13.pdf" target="_blank" ><strong>TCN  25.01.2014 - Construction of Elephant Proof Barrier of Chandaka Wild Life Division in the 
                    District of Khurda for the year 2013-14 </strong></a></li>
                <li><a href="pdf/dtcn-18112013-khurdha.pdf" target="_blank" ><strong>TCN  20.11.2013 - Construction of Elephant Proof Barrier of Chandaka Wild Life Division in the 
                    District of Khurda for the year 2013-14 under 13th FCA</strong></a></li>
                <li><a href="pdf/dtcn-20112013-cuttack.pdf" target="_blank" ><strong>TCN 20.11.2013 - Construction of Elephant Proof Barrier of Chandaka Wild
                    Life Division in the District of Cuttack for the year 2013-14 under 13th FCA</strong></a></li>
                  </ol>-->
              <p>&nbsp;</p></td>
          </tr>
        </table></td>
        <td class="bRight2"><img src="" width="41" height="314"></td>
      </tr>
    </table>
    
    </div>
    <div><img src="image/footer-top.jpg"></div>
    </div>
    <div class="footer1"></div>
    <div class="footer2">
      <div class="footer3">
        <div class="footerAlign"><strong><a href="">About Sanctuary</a></strong><br>
            <a href="about-us.htm">Background</a><br>
            <a href="mission-vision.htm">Mission & Vision</a><br>
            <a href="objectives.htm">Objectives</a><br>
            <a href="Organization.htm">Organization</a><br>
            <a href="Strategies.htm">Strategies</a><br>
            <a href="Staff.htm">Staff</a><br>
          <a href="Map.htm">Map</a></div>
        <div class="footerAlign"> <strong><a href="Eco-Tourism.htm">Eco Tourism</a></strong><br>
            <a href="Eco-Tourism.htm">Places to see</a><br>
            <a href="Animal-See.htm">Animal to see</a><br>
            <a href="Where-to-Stay.htm">Where to stay</a><br>
            <a href="Visit-Timing.htm">Visit Timing</a><br>
            <a href="Tariff.htm">Tariff</a><br>
          <a href="Do-Don't.htm">Do & Don't</a></div>
        <div class="footerAlign"><strong><a href="Activity.htm"> Activity</a></strong><br>
              <a href="Activity.htm">Eco Development</a><br>
              <a href="Wildlife-Week.htm">Wildlife Week<br>
              </a><a href="Offence.htm">Offence</a><br>
        </div>
        <div class="footerAlign"> <strong><a href="Wildlife.htm">Wildlife</a></strong><br>
            <a href="Wildlife.htm">Fauna</a><br>
            <a href="Mammals.htm">Mammals</a><br>
            <a href="birds.htm">Birds</a><br>
            <a href="Reptile-Lizard.htm">Reptile</a><br>
            <a href="Butterflies.htm"></a><br>
        </div>
        <div class="footerAlign"> <strong><a href="Forest.htm"> Forest</a></strong><br>
            <a href="Forest.htm">Flora</a><br>
          <a href="Medplant.htm">Med Plant</a></div>
        <div  class="footerAlign"> <strong><a href="Gallery.htm"> Gallery</a></strong><br>
            <a href="Gallery.htm">Map</a><br>
            <a href="Gallery-image.htm">Image</a><br>
            <a href="Gallery-video.htm">Video</a><br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
        <div> <a href="Research.htm"><strong> Research</strong></a><br>
            <a href="news-events.htm">News & Events</a><br>
            <a href="Location.htm">Location</a><br>
            <a href="RTI.htm">RTI</a><br>
            <a href="Feedback.htm">Feedback</a><br>
            <a href="Importantlinks.htm">Important Link</a><br>
          <a href="TermsConditions.htm"></a></div>
      </div>
     <div class="footer4">
      <div class="footerAlign2">© 2022 Chandaka - Dampara Wildlife Sanctuary. All rights reserved.</div>
      <a href="https://www.batoi.com/cloud/hosting/" target="_blank"><img src="" alt="Powered by BATOI" title="Powered by BATOI" width="80" height="24" border="0" usemap="#Map"></a></div>
    </div>
    <Script Language="JavaScript">

        function load() {
        var load = window.open('video1.htm','','scrollbars=no,menubar=no,height=350,width=350,resizable=yes,toolbar=no,location=no,status=no');
        }
        // -->
        </Script>