*
{
    font-family: Arial, Helvetica, Sans-Serif;
}


html  {
margin : 0;
padding : 0;
} 

body  {
background : #D6D3D3;
margin : 0;
padding : 0;
}

ul
{
list-style-type:none;
padding:0px;
margin:0px;
}
li
{
background-image:url("/assets/images/bamboo/bamboo1.jpg"); background-position:left; background-repeat:no-repeat; padding-left:15px; padding-top:16px;

}

#mainArea{margin-right:auto;margin-left:auto;width:962px; background:url("/assets/images/bamboo/bamboo1.jpg");}

#header{width:962px;clear:both;margin-left:auto;margin-right:auto; background-image:url("/assets/images/bamboo/bamboo1.jpg"); background-position:bottom;}
.logo{padding-left:0px;float:left;}
#headerLink{padding-left:0px;float:right; padding-right:0px;}
.alighR{float:right; padding-right:0px;}
.alighLeft{float:left; padding-left:0px;}
.menuArea{float:left; padding-left:0px;}
.footerAlign{float:left; padding-right:60px;}
.menuDvdr{float:left; font-size:12px; padding-top:4px; font-weight:bold;}
.menuLeft{float:left; padding-left:20px;}
.menuwhite{float:left; background-image:url("/assets/images/bamboo/bamboo1.jpg"); background-repeat:no-repeat; width:9px; padding-top:3px; margin-left:3px;}
.footerAlign2{float:left; padding-right:300px;}

.alighCentre{text-align:center;}
.alignBtn{vertical-align:bottom;}



#mainmenu{width:962px;height:22px;margin:0px;padding:0px;clear:both;  background-image:url("/assets/images/bamboo/bamboo1.jpg"); }
#mainmenu a{color:#000000;text-decoration:none;}
#mainmenu ul{list-style-type: none;margin:0px;padding:0px;float:left;padding-left:0px;  background-image:url("/assets/images/bamboo/bamboo1.jpg");}
#mainmenu li{float:left;color:#000000;text-align:center;height:22px;}

.normal ul
{
list-style-type:circle;

}

.normal li
{
list-style-type:circle;
padding:6px; margin-left:23px;

}




#news{width:500px; margin:0px;padding:0px;}
.news ul{ float:left;} 
.news li{float:left;color:#000000; text-align:justify;  padding-right:34px;}

#mainContent{background-color:#fff; }
.footer1{background-color:#ffffff; height:2px; margin-top:30px; }
.footer2{background-color:#A8BE75; background-image:url("/assets/images/bamboo/bamboo1.jpg"); background-repeat:no-repeat; background-position:top;   }
.footer3{width:900px; display: block; margin-left: auto; margin-right: auto; font-size:11px; color:#333333; padding:10px; height:110px;}
.footer4{width:900px; display: block; margin-left: auto; margin-right: auto; font-size:11px; color:#333333; padding-top:30px; padding-bottom:15px; text-align:center;}

.hl{text-align:right;}
.menuDvdr{color:#ffffff; padding-left:15px; padding-right:15px;}
.bLeft{ width:41px; background-image:url("/assets/images/bamboo/bamboo1.jpg"); background-repeat:repeat-y; vertical-align:top;}
.bLeft2{ width:41px; background-image:url("/assets/images/bamboo/bamboo1.jpg"); background-repeat:repeat-y; vertical-align:bottom;}
.bRight{ width:41px; background-image:url("/assets/images/bamboo/bamboo1.jpg"); background-repeat:repeat-y; vertical-align:top;}
.bRight2{ width:41px; background-image:url("/assets/images/bamboo/bamboo1.jpg"); background-repeat:repeat-y; vertical-align:bottom;}

a:link  {text-decoration:none; color:#333333; } 
a:visited  { text-decoration:none; color:#333333; } 
a:hover, a:active  {text-decoration:underline; color:#666666;  } 

.vTop{vertical-align:top; background-color:#FFFFFF;}

.contentLeft{width:291px; float:left;}

.contentMain{width:554px; float:left; padding-left:35px; font-size:12px; text-align:justify; }

#package{background-image:url("/assets/images/bamboo/bamboo1.jpg"); background-repeat:no-repeat; text-align:left; vertical-align:top;}
#director{background-image:url("/assets/images/bamboo/bamboo1.jpg"); background-repeat:no-repeat; vertical-align:top; font-size:12px; color:#D8E5B7; text-align:justify; padding-right:30px;}
#locate{background-image:url("/assets/images/bamboo/bamboo1.jpg"); background-repeat:no-repeat; vertical-align:top; font-size:12px; color:#D8E5B7; text-align:justify; width:173px; }

.normalText{ font-size:12px; text-align:left;}
.gText{ font-size:12px; color:#D8E5B7; text-align:justify;}
.leftLink{background-image:url("/assets/images/bamboo/bamboo1.jpg"); background-repeat:no-repeat; height:26px; padding-left:33px; font-size:12px;} 
.pageHeader{font-size:16px; font-weight:bold; padding-bottom:5px;}
.pageSub{font-size:12px; font-weight:bold; color:#843713; }

.name td, th
{
border:1px solid #666666;
}
.name th
{
background-color:green;
color:white;
}

.name1 td
{
border:1px solid #666666; background-color:#CCCCCC;
}
.contect_fix { width: 962px; margin: 0; padding: 0px; clear: both; display: block; }