<!-- <section class="vh-100 gradient-custom" style="height:200px ;"> 
    <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Registration Form</h3>
              <form>
  
                <div class="row">
                  <div class="col-md-6 mb-4">
  
                    <div class="form-outline">
                      <input type="text" id="firstName" class="form-control form-control-lg" />
                      <label class="form-label" for="firstName">First Name</label>
                    </div>
  
                  </div>
                  <div class="col-md-6 mb-4">
  
                    <div class="form-outline">
                      <input type="text" id="lastName" class="form-control form-control-lg" />
                      <label class="form-label" for="lastName">Last Name</label>
                    </div>
  
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-md-6 mb-4 d-flex align-items-center">
  
                    <div class="form-outline datepicker w-100">
                      <input type="text" class="form-control form-control-lg" id="birthdayDate" />
                      <label for="birthdayDate" class="form-label">Birthday</label>
                    </div>
  
                  </div>
                  <div class="col-md-6 mb-4">
  
                    <h6 class="mb-2 pb-1">Gender: </h6>
  
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="femaleGender"
                        value="option1" checked />
                      <label class="form-check-label" for="femaleGender">Female</label>
                    </div>
  
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="maleGender"
                        value="option2" />
                      <label class="form-check-label" for="maleGender">Male</label>
                    </div>
  
                    <div class="form-check form-check-inline">
                      <input class="form-check-input" type="radio" name="inlineRadioOptions" id="otherGender"
                        value="option3" />
                      <label class="form-check-label" for="otherGender">Other</label>
                    </div>
  
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-md-6 mb-4 pb-2">
  
                    <div class="form-outline">
                      <input type="email" id="emailAddress" class="form-control form-control-lg" />
                      <label class="form-label" for="emailAddress">Email</label>
                    </div>
  
                  </div>
                  <div class="col-md-6 mb-4 pb-2">
  
                    <div class="form-outline">
                      <input type="tel" id="phoneNumber" class="form-control form-control-lg" />
                      <label class="form-label" for="phoneNumber">Phone Number</label>
                    </div>
  
                  </div>
                </div>
  
                <div class="row">
                  <div class="col-12">
  
                    <select class="select form-control-lg">
                      <option value="1" disabled>Choose option</option>
                      <option value="2">Subject 1</option>
                      <option value="3">Subject 2</option>
                      <option value="4">Subject 3</option>
                    </select>
                    <label class="form-label select-label">Choose option</label>
  
                  </div>
                </div>
  
                <div class="mt-4 pt-2">
                  <input class="btn btn-primary btn-lg" type="submit" value="Submit" />
                </div>
  
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->

<section class="innbanner" style="margin-top:-80px ;">
  <!-- <img src=" /assets/images/banner.gif
       "> -->
  <img src="assets/images/team/forest3.jpg" alt="">
  <!-- <h2 id="backdrop" class="mt-4">Tender Details</h2> -->
</section>

<section style="margin-top:-120px ;">
  <marquee behavior="scroll" direction="left" style="background-color: black;">
    <a style="color: rgb(6, 6, 5);font-size: 22px; background-color: rgb(244, 222, 57);"><b>Notice : <i>This website is
          under Beta testing and hence no sensitive
          information
          should be entered and hence actual Citizen queries should not be posted. We will notify when the website
          is
          available for public usage.</i> </b></a>
  </marquee>
</section>
<div class="container-fluid main " style="margin-top:-110px ;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="contact-form col-md-6 col-md-offset-5 align-center m-5">
        <h2 class="text-center">UPLOAD TENDER</h2>
        <form [formGroup]="tenderForm" (ngSubmit)="tenderUpload()" >
          <div class="control-group">
                  Title:<input type="text" class="form-control" formControlName="title" id="name" placeholder="Enter Title" required="required" data-validation-required-message="Please enter your name" />
                  <p class="help-block text-danger"></p>
              </div>
              <div class="control-group">
                  Issuing Authority:<input type="email" class="form-control" formControlName="issuingAuthority" id="email" placeholder="Issuing Authority" required="required" data-validation-required-message="Please enter your email" />
                  <p class="help-block text-danger"></p>
              </div>
              <div class="control-group">
                  <label for="birthday">End Date: </label> 
                  <input type="date" id="End Date" formControlName="endDate" name="End Date">
                  <!-- End Date: <input type="date"> -->
            </div>
              <div class="control-group mt-4">
                  <label for="myfile">Select a file:</label>
               <input type="file"  formControlName="file" (change)="onFileSelected($event)" id="myfile" name="myfile">
               <!-- <input type="file" (change)="onFileSelected($event)" formControlName="file" id="myfile" name="myfile"> -->
               <!-- <input type="button" value="upload" (click)="onUpload()"> -->
              </div>
              <div>
                  <!-- <button class=" text-center button1 mt-4" type="submit" id="" >Submit </button> -->
                  <button type="submit" class="btn btn-primary text-center button1 mt-4">Submit</button>
                  <button type="button" class="btn btn-danger text-center button1 mt-4">Cancel</button>
                  <!-- <button class=" text-center button1 mr-4" type="submit" id="" >Cancel </button> -->
              </div>
          </form>
      </div>
    </div>
  </div>


</div>




<!-- 
  <div class="row align-items-center py-3">
    <div class="col-md-3 ps-5">

      <h6 class="mb-0">Upload CV</h6>

    </div>
    <div class="col-md-9 pe-5">

      <input class="form-control form-control-lg" id="formFileLg" type="file" />
      <div class="small text-muted mt-2">Upload your CV/Resume or any other relevant file. Max file
        size 50 MB</div>

    </div>
  </div> -->
<!--  <div class="row align-items-center py-3">

                <div class="col-md-3 ps-5">
  
                  <h6 class="mb-0">Full name</h6>
  
                </div>
                <div class="col-md-9 pe-5">
  
                  <textarea class="form-control" rows="3" placeholder="Message sent to the employer"></textarea>
  
                </div>
              </div> -->

