#appointment .card
{
    margin-top: 150px;
    width: 50%;
    margin-left: 290px;
    
}
.php-email-form{
    margin-top: 50px;
    margin-left: 50px;
}
.php-email-form .row{
    margin-left: 70px;
}
.php-email-form .text-center{
    margin-left: -90px;
    margin-bottom: 10px;
}