<section class="innbanner" style="margin-top: 60px;margin-bottom: -57px;">
    <div class="row">
        <div class="col-md-12"data-aos="zoom-in">
            <img src="assets/images/kendu-leaf/k1.jpg">
        </div>
    </div>
    <h3>Kendu Leaf</h3>
</section>
<section>
    <div class="crumb-bg" style="margin-top: -70px;">
        <div class="uk-container">
           <ol class="breadcrumb">
              <li onclick="window.location='./'">Home</li>/
              <li onclick="window.location='./'"> activities </li>/
              <li class="active"> Kendu Leaves </li>
           </ol>
        </div>
     </div>
</section>
<section class="">
    <div class="uk-container" style="margin-top: -80px;">
       
        <div class="container-fluid row" >
            <!-- <h6 class="text-center">
                KENDU LEAVES
            </h6> -->
            <div class="kendu-txt">  KENDU LEAVES</div>
            <div class="card">
                <div class="card-body ">
                    <div class="card">
                        <div class="card-body ">
            <p style="text-align:center;">Kendu leaf (Tendu Leaf, Diospyros Melanoxylon ) is a nationalized product like Bamboo and Sal seed. Kenduleaf is one of the most important non-wood forest products of Odisha. Due to its unique characteristics, viz. Matching aroma with Tobacco, Hygroscopic nature of dry leaves to withstand crack, Thinness and pliability, gradual combustion, resistance to fungus attack etc. these valuable leaves are used for wrapping Bidis.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5" data-aos="fade-left">
                <img src="assets/images/kendu-leaf/k4.jpg" style="width: 100%;
                height: 320px;
                margin: 10px auto;
                border-radius: 20px;">
            </div>
            <div class="col-md-7">
                <div class="kendu-txt">ODISHA IS THE THIRD LARGEST PRODUCER OF KENDULEAF</div>
                <div class="card" data-aos="fade-right">
                    <div class="card-body ">
                        <div class="card">
                            <div class="card-body ">
                           <p style="text-align: justify;">
                            Odisha is the third largest producer of kendu leaf next to M.P. and Chhattisgarh.
                             The annual production of Bidi Leaf in Odisha is around 4.5 to 5 lakhs quintal,
                              which is about 20% of the countries annual production. Kendu leaf is available 
                              in 50 Sub Division of all the 30 districts. But Sundergarh, Anugul, Deogarh , 
                              Kalahandi, keonjhar, Kalahandi, Kandhamal, Malkanagri, Nabarangpur, Koraput,
                               Dhenkanal, Jharsuguda, Sambalpur, Baragarh, Bolangir, Sonepur, Boudh and
                                Nuapada Districts cover maximum Kendu leaf growing areas.
                                 The kendu leaf of the Balangir District is traded as the best kendu leaf
                                  through out India.
                           </p>
                            
                        
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="uk-container">
        <div class="container-fluid  row">
            <div class="col-md-7" data-aos="fade-left">
             <div class="kendu-txt">UNIQUENESS OF ODISHA'S TENDU (KENDU) LEAF</div>
             <div class="card">
                <div class="card-body ">
                    <div class="card">
                        <div class="card-body ">
        
             <p style="text-align: justify;">The Uniqueness of Odisha's Tendu (kendu) leaf is in 
                processed form whereas the rest of the states in 
                India produces in Phal Form. In processed form 
                the Kendu leafs are graded into different qualities 
                that are Grade I to Grade IV as per the specification
                 of color, texture, size and body condition of the leaf
                  and packets will be done by taking Five Kilograms as a 
                  Bundle. Twelve Bundles of Five Kilogram of each are
                   packed in a gunny bag and 100 such bag equivalent to
                    sixty quintals make one truckload.
                     Where as no gradation is done in respect of PHAL
                      Leaf and only loose leafs are packed tightly
                       inside the gunny bag.</p>
                        </div>
                    </div>
                </div></div>
            </div>
            <div class="col-md-5" data-aos="fade-right">
                <img src="assets/images/kendu-leaf/k5.jpg" style="width: 100%;
                height: 320px;
                margin: 10px auto;
                border-radius: 20px;">
            </div>
        </div>
    </div>
</section>
