
<section class="innbanner" style="margin-top: -60px;">
    <div class="row">
        <div class="col-md-12" data-aos="zoom-in">
            <img src="/assets/images/plantation/plant.jpg">
        </div>
    </div>
    <h3>Plantation</h3>
</section>
<section style="margin-top:-120px ;">
    <div class="crumb-bg">
        <div class="uk-container">
           <ol class="breadcrumb">
              <li onclick="window.location='./'">Home</li>/
              <li onclick="window.location='./'"> activities </li>/
              <li class="active"> Plantation  </li>
           </ol>
        </div>
     </div>
</section>
<!-- <section class="" > -->
    <div class="uk-container" style="margin-top:-40px ;">
       
        <div class="row">
            <!-- <h6 class="text-center">
                PLANTATIONS & LANDSCAPING
            </h6> -->
            <div class="kendu-txt">PLANTATIONS & LANDSCAPING </div>
            <p style="text-align:center;">In recent years, OFDC has expanded its field of operation to green consulting and undertaking Plantation turnkey projects which now contributing 10-15% of its total revenue as commission by implementing several plantations and greening projects. It has established a strong credential in reforesting mining area, degraded lands, industrial zone and establishing several eco parks and landscaping stadiums and institutional campus.

 
                The Greening project of Kalinga Stadium, IOCL campus at Paradeep and Eco- Park at Jayadev Batika demonstrates the newly acquired expertise of the OFDC and now become a major green developer of the state. OFDC is also engaged in raising avenue and block plantations, plantations around industrial and urban areas, landscaping etc for various industrial units like IOCL, Dhamra Port, NHAI, East Coast railways, Airport Authority of India, MCL, SAIL etc as well as projects of the State Government. </p>
            <div class="col-md-5" data-aos="fade-left">
                <img src="/assets/images/plantation/p2.jpg" style="width: 100%;
                height: 320px;
                margin: 10px auto;
                border-radius: 20px;">
            </div>
            <div class="col-md-7" data-aos="fade-right">
                <div class="kendu-txt">Plantation in Odisha </div>
                           <p style="text-align: justify;">
                            Plantation in Odisha is mainly classified into two categories one as industrial Plantation, which is used for industrial purpose or by the paper mill, and the other is called as the commercial Plantation used mainly for household and other works as well as for rural artisans. The annual production potential of Plantation in Odisha is estimated to be around 4,00,000 MT. 
                           </p>
            </div>
        </div>
    </div>
    <div class="uk-container">
        <div class="row">
            <div class="col-md-7"data-aos="fade-left">
             <div class="kendu-txt">UNIQUENESS OF ODISHA'S Plantation</div>
        
             <p style="text-align: justify;">The Uniqueness of Odisha's Tendu (kendu) leaf is in 
                processed form whereas the rest of the states in 
                India produces in Phal Form. In processed form 
                the Plantations are graded into different qualities 
                that are Grade I to Grade IV as per the specification
                 of color, texture, size and body condition of the leaf
                  and packets will be done by taking Five Kilograms as a 
                  Bundle. Twelve Bundles of Five Kilogram of each are
                   packed in a gunny bag and 100 such bag equivalent to
                    sixty quintals make one truckload.
                     Where as no gradation is done in respect of PHAL
                      Leaf and only loose leafs are packed tightly
                       inside the gunny bag.</p>
            </div>
            <div class="col-md-5"data-aos="fade-right">
                <img src="/assets/images/plantation/p1.jpg" style="width: 100%;
                height: 320px;
                margin: 10px auto;
                border-radius: 20px;">
            </div>
        </div>
    </div>
<!-- </section> -->

